/*! Accordion component */

@use '../abstracts/' as *;

.accordion-item {
  border-bottom: 1px solid var(--color-grey-light);
}

.accordion-button {
  position: relative;
  display: flex;
  gap: 2rem;
  width: 100%;
  padding: 1.5rem 1rem 1.5rem 0;
  border: none;
  font-size: 1.8rem;
  line-height: normal;
  font-weight: 400;
  text-align: left;
  background-color: transparent;
  cursor: pointer;
  @include bp(md) {
    padding: 2rem 1rem 2rem 0;
    font-size: 2.4rem;
  }
  &:hover,
  &:focus-visible {
    .icon {
      color: var(--color-grey-dark);
    }
  }

  .button-text {
    max-width: 92rem;
  }
  .icon {
    margin-left: auto;
    font-size: 3rem;
    color: var(--color-grey);
    transition:
      color var(--transition-medium-cubic),
      transform var(--transition-medium-cubic);
  }
}

.accordion-panel {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 0.2s ease-out;
}

.accordion-button[aria-expanded='true'] {
  .icon {
    transform: rotate(45deg);
  }
  & + .accordion-panel {
    grid-template-rows: 1fr;
  }
}

.accordion-content {
  overflow: hidden;
  max-width: 126rem;
  &::before {
    content: '';
    display: block;
    height: 0.1rem;
  }
  &::after {
    content: '';
    display: block;
    height: 1.4rem;
  }
  h3,
  h4,
  h5 {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
  p {
    margin-bottom: 1rem;
    &:last-child {
      margin-bottom: 0;
    }
  }
  .alert {
    margin-bottom: 0 !important;
  }
}

.accordion--mobile {
  @include bp(md) {
    .accordion-button {
      cursor: default;
      pointer-events: none;
    }
    .accordion-panel {
      grid-template-rows: 1fr;
    }
  }
}

.accordion--sm {
  .accordion-button {
    padding: 1rem 1rem 1rem 0 !important;
    font-size: 1.6rem;
    .icon {
      font-size: 1.6rem !important;
    }
  }
  .accordion-content::before {
    margin-bottom: -1rem !important;
  }
}

.accordion[data-number] {
  position: relative;
  margin-top: 4rem;
  margin-left: 4rem;
  @include bp(md) {
    margin-left: 5rem;
  }
  &::before {
    content: attr(data-number);
    position: absolute;
    top: 2rem;
    left: -4rem;
    font-variant-numeric: tabular-nums;
    color: rgba(30, 30, 30, 0.4);
    @include bp(sm) {
      top: 1.8rem;
      font-size: 1.4rem;
    }
    @include bp(md) {
      left: -5rem;
    }
  }
  & + [data-number] {
    margin-top: 2rem !important;
  }
  & + .accordion[data-number]:not(.accordion--sm) {
    margin-top: 1rem !important;
  }
}

.accordion--sm[data-number] {
  &::before {
    top: 1rem;
    @include bp(sm) {
      top: 1rem;
    }
  }
}
