/*! Pop-ups & modal dialogs */

@use '../abstracts' as *;

.dialog-container {
  justify-content: center;
  align-items: center;
  min-width: 36rem;
  width: fit-content;
  height: fit-content;
  border: none;
  background-color: transparent;
  // The default color of the browser dialog element is canvastext
  color: var(--text-body-color);
  &[data-modal] {
    width: 100%;
    // Necessary to rewrite chrome :modal rules
    max-width: 100vw;
    height: 100%;
    // Necessary to rewrite chrome :modal rules
    max-height: 100vh;
    max-height: 100dvh;
    cursor: pointer;
  }
  &:not([data-modal]) {
    position: fixed;
    inset: 0;
    margin: auto;
  }
}

.dialog-container[open] {
  display: flex;
  animation: dialogSlideInUp 0.25s cubic-bezier(0.71, 1.7, 0.77, 1.24) forwards;
  &::backdrop {
    background-color: transparent;
  }
}

.dialog-container.close-dialog-animation {
  animation: dialogSlideOutDown 0.25s ease backwards;
}

@keyframes dialogSlideInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 4rem, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes dialogSlideOutDown {
  from {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
  to {
    opacity: 0;
    transform: translate3d(0, 8rem, 0);
  }
}

.dialog {
  --horizontal-margin: 2rem;

  position: relative;
  z-index: 1000;
  min-width: 36rem;
  width: calc(100% - (var(--horizontal-margin) * 2));
  max-width: 75.7rem;
  height: fit-content;
  padding: 1rem;
  border-radius: 2rem;
  // Important for the right scrollable position
  margin: auto;
  background-color: var(--color-white);
  cursor: initial;
  @include bp(sm) {
    --horizontal-margin: 1rem;
  }
}

.dialog-header {
  margin-top: 8.4rem;
  margin-bottom: 1rem;
}

.dialog-content {
  min-height: 10.3rem;
  font-size: 1.8rem;
  line-height: normal;
}

.dialog__close-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  border: none;
  background-color: transparent;
  color: var(--color-grey);
  transition: color var(--transition-short-cubic);
  &:hover,
  &:focus-visible {
    color: var(--color-grey-dark);
  }

  .icon {
    font-size: 4.4rem;
  }
}

.dialog-container[data-name='success'] .dialog {
  text-align: center;
}
