/* Dropdown */

@use '../abstracts' as *;

.dropdown {
  position: relative;
  display: flex;

  &.is-active {
    z-index: 10;
  }
}

.dropdown-toggler {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0.9rem 0 0.9rem;
  border: none;
  border-bottom: 1px solid #d9d9d9;
  font-size: 1.8rem;
  line-height: normal;
  text-align: left;
  background-color: transparent;
  transition: color var(--transition-medium-cubic);

  .icon {
    margin-top: 0.5rem;
    margin-right: 0.4rem;
    font-size: 1.3rem;
    transition: transform var(--transition-medium-cubic);
  }
  &.is-active {
    color: var(--color-blue);
    .icon {
      transform: rotate(180deg);
    }
  }
}

.dropdown-container {
  position: absolute;
  top: 100%;
  left: 0;
  // Container may be cloned
  z-index: 10;
  visibility: hidden;
  display: flex;
  gap: 1.6rem;
  min-width: 11.8rem;
  width: 100%;
  max-height: 0;
  padding: 1rem 0;
  border-radius: 1rem;
  background-color: var(--color-white);
  box-shadow: var(--shadow-menu);
  opacity: 1;
  transform: translateY(0.4rem);

  &.is-visible {
    visibility: visible;
    max-height: initial;
    animation: dropdown-container-appear 0.2s;
    .dropdown-list {
      display: flex;
    }
  }
}

@keyframes dropdown-container-appear {
  from {
    visibility: hidden;
    opacity: 0;
    transform: translateY(-1.2rem);
  }
  to {
    visibility: visible;
    opacity: 1;
    transform: translateY(0.4rem);
  }
}

.dropdown-list {
  display: none;
  flex-grow: 1;
  flex-direction: column;
  width: 100%;
}

.dropdown-item {
  --color: var(--color-grey-dark);
  --color-hover: var(--color-grey-dark);
  --color-active: var(--color-grey-dark);
  padding: 1rem 2rem;
  border: none;
  text-align: left;
  background-color: transparent;
  color: var(--color-grey-dark);
  &:hover,
  &:focus-visible {
    text-decoration-color: transparent;
    background-color: var(--color-sand-lighter);
    color: var(--color-grey-dark);
  }
  &:active {
    background-color: var(--color-blue-lighter);
    color: var(--color-grey-dark);
  }
}

/* Table of contents dropdown */

.dropdown--sm.toc {
  @include bp(md) {
    position: sticky;
    top: calc(var(--header-height) + 3rem);
    .dropdown-toggler {
      display: none;
    }
    .dropdown-container {
      position: static;
      visibility: visible;
      display: flex;
      max-height: initial;
      padding: 0.6rem 0;
      box-shadow: none;
    }
    .dropdown-list {
      display: flex;
      gap: 1.1rem;
    }
    .dropdown-item {
      padding: 0 0 0 1.4rem;
      font-size: 1.4rem;
    }
    .toc-item {
      position: relative;
      &:hover,
      &:focus-visible {
        background-color: transparent;
        color: var(--color-blue);
      }
      &:active {
        background-color: transparent;
      }
      &.is-observed {
        &::before {
          content: '';
          position: absolute;
          top: 0.2rem;
          left: 0;
          width: 0.4rem;
          height: 1.8rem;
          border-radius: 0.4rem;
          background-color: var(--color-blue);
        }

        // Keep only one observed item at the time
        & ~ .is-observed {
          &::before {
            display: none;
          }
        }
      }
    }
  }
}

/* Chips dropdown */

.dropdown--sm.chips {
  @include bp(sm) {
    .dropdown-toggler {
      padding: 1rem 0 0.8rem;
    }
    .dropdown-toggler.popular-chip,
    .dropdown-item.popular-chip {
      padding-left: 2.2rem;
      background-image: url('@svg/icons/prize.svg');
      background-position: top 1.1rem left;
      background-repeat: no-repeat;
    }
    .dropdown-item.popular-chip {
      padding-left: 4rem;
      background-position: top 1.1rem left 1.6rem;
    }
  }
}
