/*! Links */

@use '../abstracts' as *;

.link {
  --td-color: transparent;
  --td-color-hover: transparent;
  --color: var(--content-link-color);
  --color-hover: var(--content-link-color-hover);
  --color-active: var(--content-link-color-active);

  display: inline-flex;
  align-items: center;
  gap: 0.4rem;
  border: none;
  line-height: 2rem;
  font-weight: 400;
  text-decoration-color: var(--td-color);
  background-color: transparent;
  color: var(--color);
  transition-property: transform, opacity, var(--transition-props-color);
  transition-timing-function: var(--transition-func-cubic);
  transition-duration: var(--transition-duration-short);
  &:hover,
  &:focus-visible {
    text-decoration-color: var(--td-color-hover);
    color: var(--color-hover);
  }
  &:active {
    color: var(--color-active);
  }

  &--inline {
    display: inline;
  }

  &--sm {
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-weight: 300;
  }

  &--white {
    --color: var(--color-white);
    --color-hover: var(--color-grey-light);
    --color-active: var(--color-white);
  }
  &--black {
    --color: var(--color-grey-dark);
    --color-hover: var(--color-blue-hover);
    --color-active: var(--color-blue);
  }
  &--footer {
    --color: var(--color-grey-dark);
    --color-hover: var(--color-grey-dark);
    --color-active: var(--color-grey-dark);
    --td-color-hover: var(--color-grey);
    gap: 0.5rem;
    font-weight: 500;
    &:hover,
    &:focus-visible {
      .icon {
        color: var(--color-grey-dark);
      }
    }
    .icon {
      color: var(--color-grey);
    }
    &:has(.icon) {
      @include bp(sm) {
        letter-spacing: -0.035em;
      }
    }
    small {
      margin-left: -0.5rem;
      font-size: inherit;
      line-height: inherit;
      font-weight: 300;
      &:last-child {
        display: none;
      }
      &::before {
        content: '\00a0';
      }
      @include bp(md) {
        font-weight: 500;
        &:not(:last-child) {
          display: none;
        }
        &:last-child {
          display: initial;
        }
      }
    }
  }
}

.link--more {
  justify-content: center;
  gap: 0.5rem;
  height: 4.3rem;
  font-size: 1.8rem;
  line-height: 2.3rem;
  &:hover,
  &:focus-visible,
  &:active {
    .icon {
      color: currentColor;
    }
  }

  .icon {
    position: relative;
    top: -0.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.6rem;
    height: 1.6rem;
    padding-top: 0.2rem;
    border: 1px solid currentColor;
    border-radius: 50%;
    font-size: 1rem;
    color: var(--color-grey-light);
  }
}

.link--doc {
  --color: var(--color-grey-dark);
  --color-hover: var(--color-blue-hover);
  --color-active: var(--color-grey-dark);

  display: inline;
  padding: 1rem 0 1rem 3.1rem;
  font-size: 1.8rem;
  line-height: normal;
  background-image: url('@svg/icons/doc.svg');
  background-position: left top 1rem;
  background-repeat: no-repeat;
  @include bp(md) {
    background-position: left top 0.8rem;
  }

  .icon {
    position: relative;
    top: 0.2rem;
    left: -0.2rem;
    color: var(--color-grey-light);
    @include bp(md) {
      left: 0.1rem;
    }
  }
}
