/*! Main navbar component */

@use '../abstracts/' as *;

.navbar {
  display: flex;

  .nav__link,
  .link {
    --color: var(--color-grey-dark);
    --color-hover: var(--color-blue-hover);
    --color-active: var(--color-blue);
  }
}

.navbar-toggler {
  display: none;
}

@include bp-navbar {
  .navbar-toggler {
    position: relative;
    top: 0.5rem;
    z-index: 101;
    display: block;
    border: 0;
    margin-left: auto;
    background-color: transparent;
    @include bp-min(600px) {
      top: 0;
    }
  }

  .navbar-toggler__burger {
    display: block;
    width: 4.2rem;
    height: 3rem;
    // --burger-color: red;

    // display: block;
    // width: 2.4rem;
    // height: 0.3rem;
    // background-color: var(--burger-color);
    // &::after,
    // &::before {
    //   content: '';
    //   position: absolute;
    //   left: 0.2rem;
    //   width: 2.4rem;
    //   height: 0.3rem;
    //   background-color: var(--burger-color);
    //   transition: transform var(--transition-long-cubic);
    // }
    // &::before {
    //   transform: translateY(-0.7rem);
    // }
    // &::after {
    //   transform: translateY(0.7rem);
    // }
  }

  .navbar-toggler[aria-expanded='true'] .navbar-toggler__burger {
    // background-color: transparent;
    // &::after,
    // &::before {
    //   border-radius: 0;
    // }
    // &::before {
    //   transform: rotate(45deg);
    // }
    // &::after {
    //   transform: rotate(-45deg);
    // }
  }

  .navbar {
    position: fixed;
    top: var(--height);
    z-index: 100;
    overflow-x: hidden;
    width: 100%;
    max-width: 43rem;
    height: calc(100dvh - var(--height));
    background-color: var(--color-white);
    transition: transform var(--transition-long-cubic);
    &:has(.nav__sublist.is-visible) {
      height: 100%;
    }
  }

  //? From right to left
  .navbar--rtl {
    right: 0;
    transform: translateX(100%);
  }
  //? From left to right
  .navbar--ltr {
    left: 0;
    transform: translateX(-100%);
  }
  //? From top to bottom
  .navbar--ttb {
    transform: translateY(-100%);
  }
  //? From bottom to top
  .navbar--btt {
    top: initial;
    bottom: 0;
    transform: translateY(100%);
  }

  .navbar.is-visible {
    &.navbar--rtl,
    &.navbar--ltr {
      transform: translateX(0%);
    }
    &.navbar--ttb,
    &.navbar--btt {
      transform: translateY(0%);
    }
  }

  .navbar .nav-container {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    padding-top: 0;
  }

  .navbar .nav__list {
    flex-direction: column;
    align-items: initial;
    gap: 1rem;
    width: 100%;
    padding: 3rem 2rem;
  }

  .navbar .nav__link {
    width: 100%;
    padding: 2rem 0 0.9rem;
    border-bottom: 1px solid var(--color-grey-lighter);
    font-size: 2.4rem;
    line-height: 3rem;
    font-weight: 400;

    .icon {
      margin-left: auto;
      transform: rotate(-90deg);
    }
  }

  .navbar .nav__sublist .nav__link {
    padding-left: 1.8rem;
    font-size: 1.8rem;
    line-height: 2.3rem;
    font-weight: 300;
  }

  body.is-fixed {
    position: fixed;
    width: 100%;
  }

  body.has-scroll {
    overflow-y: scroll;
    // Firefox
    overflow-x: unset;
  }
}
