/*! Nav component rules */

@use '../abstracts/' as *;

.nav__list {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding-left: 0;
  margin-bottom: 0;
}

.nav__item {
  flex-shrink: 0;
  margin-bottom: 0;
  @include bp(md) {
    position: relative;
  }

  &--return {
    padding: 2rem 0 0.9rem;
    border-bottom: 1px solid var(--color-grey-lighter);
    background-color: transparent;
    @include bp(md) {
      display: none;
    }
  }
}

.nav__mobile-return {
  gap: 0.5rem;
  width: 100%;
  font-size: 2.4rem;
  line-height: 3rem;
  font-weight: 400;
  .icon {
    font-size: 1.4rem;
  }
}

.nav__link {
  display: inline-flex;
  align-items: center;
  line-height: 2rem;
  font-weight: 500;
  text-decoration: none;

  & > .icon {
    position: relative;
    top: 0.1rem;
    margin-left: 0.6rem;
    font-size: 1.3rem;
    transition: transform var(--transition-medium-cubic);
  }
}

.nav__sublist {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  max-height: 0;
  margin-bottom: 0;
  transition:
    max-height 0.2s linear,
    opacity 0.2s linear;
  @include bp(sm) {
    position: absolute;
    inset: 0;
    z-index: 1;
    gap: 1rem;
    width: 100%;
    height: auto;
    padding: 3rem 2rem;
    background-color: var(--color-white);
    transform: translateX(100%);
    transition: transform var(--transition-medium-cubic);
  }
  @include bp(md) {
    position: absolute;
    top: 3.6rem;
    left: 50%;
    z-index: 10;
    visibility: hidden;
    width: max-content;
    max-width: 34rem;
    height: initial;
    padding: 2.5rem 2rem;
    border-radius: 1rem;
    margin-top: 1rem;
    background-color: var(--color-white);
    box-shadow: var(--shadow-menu);
    transform: translateX(-50%);
    transition: none;
  }
}

.nav__sublist-toggler .icon svg {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav__sublist-toggler.is-active .icon {
  transform: rotate(180deg);
}

.nav__sublist .nav__link {
  display: block;
  font-weight: 400;
  text-decoration-color: transparent;
}

.nav__sublist.is-visible {
  @include bp(sm) {
    overflow-y: auto;
    max-height: calc(100dvh - var(--height)) !important;
    transform: translateX(0);
  }
  @include bp(md) {
    visibility: visible;
    max-height: initial;
    animation: sublist-appear 0.2s cubic-bezier(0.33, 1, 0.68, 1);
  }
}

.nav__list > .nav__item:first-child .nav__sublist {
  @include bp(md) {
    left: -1rem;
    transform: translateX(0%);
    &.is-visible {
      animation: first-sublist-appear 0.2s cubic-bezier(0.33, 1, 0.68, 1);
    }
  }
}

@keyframes sublist-appear {
  0% {
    transform: translateY(-1.6rem) translateX(-50%);
  }
}
@keyframes first-sublist-appear {
  0% {
    transform: translateY(-1.6rem);
  }
}

.nav__sublist ul[class^='nav-col'] {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  @include bp(sm) {
    gap: 1rem;
  }
}
