/*! Swiper.js */

@use '../abstracts' as *;

.swiper {
  min-width: 0;
  width: 100%;
  user-select: none;
}

.swiper-button-next,
.swiper-button-prev {
  --swiper-navigation-color: var(--color-blue);

  display: flex;
  justify-content: center;
  align-items: center;
  outline: 0;
  user-select: none;
  @include bp(sm) {
    display: none;
  }

  &.swiper-button-lock {
    display: none;
  }
}

.swiper-button-next:after,
.swiper-button-prev:after {
  display: none;
}

.swiper-controls {
  position: absolute;
  inset: auto 0 2.5rem;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border-radius: 2rem;
  margin: 0 auto;
  user-select: none;
  @include bp(md) {
    inset: auto 0 2.8rem;
  }
  .swiper-button-next,
  .swiper-button-prev {
    display: none;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    width: 1.6rem;
    height: 1.6rem;
    margin-top: 0;
    &:hover,
    &:focus-visible {
      color: var(--color-blue-hover);
    }
    .icon {
      font-size: 1.5rem;
    }
  }
  .swiper-button-prev {
    left: 0;
  }
  .swiper-pagination {
    position: initial;
    flex-shrink: 0;
  }
  &:has(.swiper-pagination-fraction) {
    width: fit-content;
    background-color: var(--color-white);
    @include bp(md) {
      transform: translateX(1.5rem);
    }
    .swiper-pagination {
      min-width: 4.6rem;
      width: fit-content;
      color: var(--color-blue);
    }
    .swiper-button-prev,
    .swiper-button-next {
      position: static;
      display: flex;
    }
  }
}

.swiper-pagination-bullet {
  --swiper-pagination-bullet-size: 0.8rem;
  --swiper-pagination-bullet-horizontal-gap: 0.9rem;
  --swiper-pagination-color: rgba(172, 172, 136, 0.25);
  &-active {
    --swiper-pagination-color: rgba(172, 172, 136, 0.25);
    background: rgba(27, 117, 187, 0.6);
  }
}

.swiper-pagination-current,
.swiper-pagination-total {
  display: inline-block;
  min-width: 1.4rem;
}

.swiper--reverse {
  transform: rotate(180deg);
  .swiper-slide,
  .swiper-controls {
    transform: rotate(-180deg);
  }
}
