/*! Team section */

@use '../abstracts' as *;

.team-section {
  gap: 1.8rem;
  @include bp(md) {
    gap: 2rem;
  }
}

.team {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1rem;
  row-gap: 4rem;
  @include bp(sm) {
    padding: 0 0.1rem;
  }
  @include bp-min(600px) {
    column-gap: 2rem;
  }
  @include bp(md) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.team-card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.team-card__img {
  img {
    aspect-ratio: 180 / 200;
    border-radius: 1rem;
    @include bp(lg) {
      aspect-ratio: 260 / 200;
    }
  }

  &--link {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;
    aspect-ratio: 180 / 200;
    padding: 0 1rem;
    border-radius: 1rem;
    text-decoration: none;
    text-align: center;
    background-color: var(--color-grey-lighter);
    @include bp(lg) {
      aspect-ratio: 260 / 200;
    }
    .icon {
      position: absolute;
      top: 0.8rem;
      right: 0.8rem;
      @include bp(lg) {
        position: relative;
        top: 0;
        right: 0;
      }
    }
  }
}

.team-card__name {
  font-size: 1.6rem;
  line-height: normal;
  font-weight: 500;
}

.team-card__post {
  font-size: 1.4rem;
  line-height: normal;
  color: var(--color-grey);
}

.team-section + .info-block {
  margin-top: 4rem;
}

.info-block + .advantages-section {
  margin-top: 4rem;
}

.advantages-section {
  gap: 3rem;
  @include bp(md) {
    gap: 6.5rem;
  }
}

.advantages {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.advantages__content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.advantages-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  @include bp-min(600px) {
    justify-content: center;
  }
}

.advantages-card {
  display: flex;
  flex: 1;
  flex-direction: column;
  min-width: 27rem;
  max-width: calc(50% - 1rem);
  padding: 2rem 2rem 3rem 2rem;
  border-radius: 2rem;
  background-color: var(--color-blue-lighter);
  @include bp-max(599.98px) {
    max-width: initial;
    min-height: 18.5rem;
  }
}

.advantages-card__icon {
  margin-bottom: 0.5rem;
  color: var(--color-blue-light);
  .icon {
    font-size: 6.4rem;
  }
}

.advantages-card__title {
  line-height: normal;
  font-weight: 500;
}

.advantages-card__text {
  margin-top: 0.5rem;
  font-size: 1.4rem;
  line-height: normal;
}
