- const fonts = ['geologica-variable', 'geologica-thin', 'geologica-light', 'geologica-regular', 'geologica-medium', 'geologica-semibold', 'geologica-bold'];

each font, index in fonts
  if index === 0
    link(href=`@fonts/${font}.woff2`, rel='preload', as='font', type='font/woff2', crossorigin='anonymous')
  else
    link(href=`@fonts/${font}.woff2`, type='font/woff2', crossorigin='anonymous')
