.sup-footer.container
  .footer__logo
    a.logo(href='index.html')
      +imageSVG('logo-grey.svg', 'Site logo')
  .footer__col
    .footer__title Компания
    .footer__links
      a.link.link--sm.link--footer(href='#!') О нас
      a.link.link--sm.link--footer(href='#!') Цены
      a.link.link--sm.link--footer(href='opportunities.html') Возможности
      a.link.link--sm.link--footer(href='#!') Партнерская программа
  .footer__col
    .footer__title Поддержка
    .footer__links
      a.link.link--sm.link--footer(href='#!') База знаний
      a.link.link--sm.link--footer(href='#!') Таблица совместимости
      a.link.link--sm.link--footer(href='#!') Вопрос в техподдержку
  .footer__col
    .footer__title Разработчикам
    .footer__links
      a.link.link--sm.link--footer(href='#!') API для разработчиков CRM
      a.link.link--sm.link--footer(href='#!') API для разработчиков телефонии
  address.footer__col.footer__col--address
    .footer__title Общие вопросы
    .footer__links
      a.link.link--sm.link--footer(href='tel:+74997033590') #[+icon('tel')] + 7 (499) 703 35 90 #[small добавочный 1] #[small доб. 1]
      a.link.link--sm.link--footer(href='mailto:info@prostiezvonki.ru') #[+icon('mail')] info@prostiezvonki.ru
      a.link.link--sm.link--footer(href='#!') #[+icon('telegram')] Telegram

.sub-footer.container
  a.link.link--sm(href='#!') Политика конфиденциальности
  a.link.link--sm(href='#!') Регламент работы и частые вопросы
