// Search
.search-form
  label.search-form__label
    input.search-form__input(type='text', placeholder='Найдите свой вариант интеграции')
  button.search-form__button(aria-label='Search') #[+icon('search')]

// Contacts
address.header__contacts
  .header__icons
    a(href='#!', title='Наш Telegram') #[+icon('telegram-circle').icon--30]
    a(href='#!', title='Наша почта') #[+icon('mail-circle').icon--30]
  a.header__phone.link.link--black(href='tel:+74997033590') + 7 (499) 703 35 90

// Auth buttons
.header__auth
  a.button.button--outlined.button--sm(href='#!') Регистрация
  a.button.button--sm(href='#!') Вход

// Logo
a.logo(href='index.html')
  +imageSVG('logo.svg', 'Site logo')

// Navbar
//- prettier-ignore
+navbar([ 
  { 
    text: 'Возможности', 
    href: '#!',
    icon: 'arrow-down',
    submenu: [
      { text: 'Все возможности', href: 'opportunities.html' },
      { text: 'Интеграция AMO CRM', href: 'int-amocrm.html' }, 
      { text: 'Интеграция NEWCRM', href: 'int-newcrm.html' },
      { text: 'Интеграция AMO CRM и Asterisk 1.8', href: 'int-amocrm-asterisk.html' }, 
      { text: 'Интеграция NEWCRM и Asterisk 1.8', href: 'int-newcrm-asterisk.html' },
    ]
  },
  { text: 'Цены', href: '#!' },
  { 
    text: 'Поддержка', 
    href: '#!',
    icon: 'arrow-down',
    submenu: [
      { text: 'База знаний', href: 'edu-article.html' },
    ] 
  },
  { 
    text: 'Разработчикам', 
    href: '#!',
    icon: 'arrow-down',
    submenu: [
      { text: 'Предложение для разработчиков', href: 'dev-offer.html' },
    ] 
  },
  { 
    text: 'Компания', 
    href: '#!',
    icon: 'arrow-down',
    submenu: [
      { text: 'О нас ', href: 'about.html' },
      { text: 'Новости', href: 'news.html' },
      { text: 'Партнёры', href: 'partners.html' },
    ] 
  },
  { text: 'Контакты', href: 'contacts.html' },
])
