section.hero
  .container
    .advantage-label
      +icon('star-ribbon').icon--20
      .f-small Крупнейший интегратор России
    h1.h1.c-blue Cервис интеграции АТС&nbsp;и&nbsp;CRM
    p.hero__text Простые Звонки — облачный сервис для связи телефонии и базы клиентов. #[br]Полный контроль офисных телефонов и&nbsp;смартфонов на Android. Всплывающие карточки и быстрый переход в CRM. Персонализация и хороший клиентский опыт.
    .hero__control
      a.button(href='#!') Попробовать
      .hero__caption Свяжите АТС и CRM быстро.&nbsp;#[br]Попробуйте бесплатно.

.hero-slider-buffer
  +swiper({compactControls: true}).hero-slider
    .swiper-slide
      .hero-slider__content(data-swiper-parallax='-300', data-swiper-parallax-duration='600')
        h2.h2 Попробуйте интеграцию бесплатно
        p.hero-slider__text Простые Звонки в октябре дарят месяц бесплатного обслуживания при подключении к&nbsp;сервису до конца сентября 2024
        a.hero-slider__button.button.button--sm.button--outlined(href='#!') Подробнее
      .hero-slider__image #[+picture('/slides/hero-slide-1.jpg', 'Изображение')]
    .swiper-slide
      .hero-slider__content(data-swiper-parallax='-300', data-swiper-parallax-duration='600')
        h2.h2 Попробуйте интеграцию бесплатно
        p.hero-slider__text Простые Звонки в октябре дарят месяц бесплатного обслуживания при подключении к&nbsp;сервису до конца сентября 2024
        a.hero-slider__button.button.button--sm.button--outlined(href='#!') Подробнее
      .hero-slider__image #[+picture('/slides/hero-slide-1.jpg', 'Изображение')(loading='lazy')]
    .swiper-slide
      .hero-slider__content(data-swiper-parallax='-300', data-swiper-parallax-duration='600')
        h2.h2 Попробуйте интеграцию бесплатно
        p.hero-slider__text Простые Звонки в октябре дарят месяц бесплатного обслуживания при подключении к&nbsp;сервису до конца сентября 2024
        a.hero-slider__button.button.button--sm.button--outlined(href='#!') Подробнее
      .hero-slider__image #[+picture('/slides/hero-slide-1.jpg', 'Изображение')(loading='lazy')]
    .swiper-slide
      .hero-slider__content(data-swiper-parallax='-300', data-swiper-parallax-duration='600')
        h2.h2 Попробуйте интеграцию бесплатно
        p.hero-slider__text Простые Звонки в октябре дарят месяц бесплатного обслуживания при подключении к&nbsp;сервису до конца сентября 2024
        a.hero-slider__button.button.button--sm.button--outlined(href='#!') Подробнее
      .hero-slider__image #[+picture('/slides/hero-slide-1.jpg', 'Изображение')(loading='lazy')]
