/*! Opportunities & Integration pages */

@use '../abstracts/' as *;

/* Compatibility section */

.poss-cards + .compatibility-section {
  margin-top: 16rem;
  @include bp(md) {
    margin-top: 10rem;
  }
}

.compatibility-section {
  .h1 {
    margin-bottom: 3.6rem;
  }
  .search-form {
    display: flex;
    .search-form__button {
      @include bp(sm) {
        right: 0;
      }
    }
  }
  .chips {
    margin-top: 1.5rem;
  }
  & + .try {
    margin-top: 6.5rem;
    @include bp(md) {
      margin-top: 12rem;
    }
  }
  .comp-cards {
    margin-top: 5.5rem;
    @include bp(md) {
      margin-top: 5rem;
    }
  }
}

.comp-cards {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
  @include bp-min(800px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  @include bp-min(1100px) {
    grid-template-columns: repeat(3, 1fr);
    row-gap: 4rem;
  }
}

.comp-card {
  --label-border-color: #6fc0ff;
  --label-bg-color: #6fc0ff;
  --label-color: var(--color-white);

  position: relative;
  display: grid;
  grid-template-columns: 14rem 1fr;
  grid-template-rows: auto 1fr;
  gap: 1rem;

  &--disabled {
    --label-border-color: rgba(0, 0, 0, 0.25);
    --label-bg-color: transparent;
    --label-color: var(--color-grey);
    color: var(--color-grey);
    pointer-events: none;
    .comp-card__title a {
      --color: var(--color-grey);
    }
  }
}

.comp-card__img {
  grid-row: 1 / 3;
  width: 14rem;
  height: 14rem;
  border: 1px solid rgba(217, 217, 217, 0.5);
  border-radius: 1rem;
  img {
    aspect-ratio: 1 / 1;
    object-fit: contain;
    border-radius: 1rem;
  }
}

.comp-card__header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.6rem;
  padding-top: 1rem;
}

.comp-card__title {
  font-size: 2.4rem;
  line-height: normal;
  font-weight: 400;
  a {
    --color: var(--color-blue);
    --color-hover: var(--color-blue-hover);
    --color-active: var(--color-grey-dark);
    text-decoration: none;
    &::before {
      content: '';
      position: absolute;
      inset: 0;
    }
  }
}

.comp-card__desc {
  max-width: 23.6rem;
  line-height: normal;
}

.comp-card__label {
  padding: 0.2rem 0.9rem 0.3rem;
  border: 1px solid var(--label-border-color);
  border-radius: 4rem;
  font-size: 1.2rem;
  line-height: normal;
  background-color: var(--label-bg-color);
  color: var(--label-color);
}

.comp-no-res {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
  text-align: center;
  @include bp-min(600px) {
    margin-top: 7.5rem;
  }
  &.is-hidden {
    display: none;
  }
  .h3 {
    margin-bottom: 1rem;
  }
  .button {
    --padding: 2.3rem 1rem;
    width: 100%;
    max-width: 45rem;
    margin-top: 1.5rem;
  }
  &__caption {
    margin-top: 6.5rem;
    text-align: center;
    .link {
      gap: 0.2rem;
    }
    .icon {
      position: relative;
      top: 0.2rem;
      font-size: 1.4rem;
    }
  }
}

/* Integration cards */

.int-cards {
  display: flex;
  flex-direction: column;
  gap: 6rem;
  padding: 2rem;
  border-radius: 3rem;
  background-color: var(--color-sand-lighter);
  @include bp(md) {
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    min-height: 21rem;
    border-radius: 2rem;
  }
  @include bp(lg) {
    padding: 3rem 0;
  }

  &--grey {
    background-color: var(--color-grey-lighter);
  }
}

.int-card {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 2rem;
  min-height: 14rem;
  @include bp(md) {
    flex-direction: row;
    align-items: center;
    gap: 2rem;
  }
  @include bp(lg) {
    padding-left: 4rem;
    &:has(.int-card__label) .int-card__content {
      padding-top: 0;
    }
  }

  &:not(:first-child) {
    @include bp(sm) {
      position: relative;
      &::before {
        content: '';
        position: absolute;
        top: -3rem;
        left: -2rem;
        width: calc(100% + 4rem);
        height: 0.1rem;
        background-color: var(--color-grey-light);
      }
    }
  }
  &:last-child:not(.int-card--try) {
    @include bp(lg) {
      .int-card__content {
        padding-right: 4rem;
      }
    }
  }
}

.int-card__img {
  flex-shrink: 0;
  border-radius: 2rem;
  img {
    aspect-ratio: 1;
    width: 14rem;
    border-radius: 2rem;
  }
}

.int-card__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  @include bp(lg) {
    padding-top: 1rem;
  }
}

.int-card__label {
  position: relative;
  top: 0.1rem;
  padding: 0.2rem 0.9rem 0.3rem;
  border: 1px solid var(--color-grey);
  border-radius: 4rem;
  font-size: 1.2rem;
  line-height: 1.5rem;
  color: var(--color-grey);
}

.int-card__title {
  color: var(--color-blue);
}

.int-card__text {
  line-height: normal;
}

.int-card__link {
  font-weight: 300;
  white-space: nowrap;
}

.int-card--try {
  max-width: 38rem;
  padding: 3rem;
  border-radius: 1rem;
  background-color: var(--color-white);
  @include bp(lg) {
    padding: 2rem 3rem 3rem;
  }
  &::before {
    display: none;
  }
  .int-card__content {
    align-items: center;
    gap: 2rem;
  }
  .int-card__text {
    font-weight: 500;
    text-align: center;
  }
}

.int-cards:has(.int-card--try) {
  gap: 3rem;
  @include bp(lg) {
    padding: 3rem 3rem 3rem 0;
    border-radius: 3rem;
  }
  .int-card:not(.int-card--try) {
    gap: 1rem;
    @include bp(md) {
      gap: 2rem;
      .int-card__content {
        padding-top: 0;
      }
    }
  }
  & + .functions-section {
    margin-top: 6rem;
    @include bp(lg) {
      margin-top: 8rem;
    }
  }
}

.int-cards + .possibilities-section {
  margin-top: 8rem;
}

.possibilities-section + .lead-section {
  margin-top: 15rem;
  margin-bottom: 1rem;
  @include bp(md) {
    margin-top: 12.1rem;
    margin-bottom: 5rem;
  }
}

/* Functions slider */

.int-cards + .functions-section {
  margin-top: 7rem;
  @include bp(md) {
    margin-top: 8rem;
  }
}

.functions-section {
  .h1 {
    margin-bottom: 4rem;
    @include bp(md) {
      margin-top: 4.1rem;
    }
  }
}

.functions-tabs-slider {
  display: none;
  padding-left: 1rem;
  margin-bottom: 2rem;
  @include bp-min(600px) {
    display: flex;
  }
}

.functions-tab {
  --border-color: var(--color-grey-light);
  --border-color-active: var(--color-blue-light);

  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: fit-content;
  padding: 0.5rem 1.4rem;
  border: 2px solid transparent;
  border-radius: 3rem;
  font-size: 2rem;
  line-height: normal;
  font-weight: 400;
  transition: border-color var(--transition-medium-cubic);
  cursor: pointer;
  &:not(:last-child) {
    margin-right: 1.5rem;
  }
  &::after {
    content: '';
    width: 1.6rem;
    height: 1.6rem;
    background-image: url('@svg/icons/check.svg');
    background-position: top -0.5rem center;
    background-repeat: no-repeat;
  }

  &:hover,
  &:focus-visible {
    border-color: var(--border-color);
  }
  &.swiper-slide-thumb-active {
    border-color: var(--border-color-active);
  }

  &--disabled {
    --border-color-active: var(--color-grey-light);

    &::after {
      background-image: url('@svg/icons/minus-circle.svg');
    }
  }
}

.functions-slider {
  border-radius: 2rem;
  .swiper-wrapper {
    height: fit-content !important;
    @include bp-max(599.98px) {
      display: flex;
      flex-direction: column;
      gap: 2rem;
    }
  }
  .swiper-slide {
    height: 100%;
  }
}

.function {
  position: relative;
  z-index: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-top: 9rem;
  border-radius: 2rem;
  background-color: var(--color-blue-lighter);
  @include bp(md) {
    max-height: 52rem;
    padding-top: 6.8rem;
  }

  &::before {
    content: '';
    position: absolute;
    top: 1rem;
    left: -0.1rem;
    width: 11.9rem;
    height: 9.4rem;
    @include bg-picture('slides/function-1-icon.png', 237);
    background-position: center;
    background-repeat: no-repeat;
    @include bp(md) {
      top: 2rem;
      left: 3.9rem;
    }
  }

  &--2 {
    &::before {
      @include bg-picture('slides/function-2-icon.png', 237);
    }
  }
  &--3 {
    &::before {
      @include bg-picture('slides/function-3-icon.png', 237);
    }
  }
  &--4 {
    &::before {
      @include bg-picture('slides/function-4-icon.png', 237);
    }
  }
  &--5 {
    &::before {
      @include bg-picture('slides/function-5-icon.png', 237);
    }
  }
  &--6 {
    &::before {
      @include bg-picture('slides/function-6-icon.png', 237);
    }
  }
}

.function__content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0 3rem;
  @include bp(md) {
    padding-right: 36rem;
    padding-left: 13rem;
  }
  @include bp(lg) {
    max-width: 75rem;
    padding-right: 0;
  }
}

.function__title {
  @include bp(md) {
    display: none;
  }
}

.function__text {
  min-height: 9.2rem;
  font-size: 1.8rem;
  line-height: normal;
  font-weight: 400;
}

.function__img {
  position: relative;
  z-index: -1;
  @include bp-max(599.98px) {
    overflow: hidden;
    width: 39.3rem;
    height: 20.3rem;
    border-radius: 1rem;
    margin: 0.9rem 0 2.6rem 2rem;
    box-shadow: var(--shadow-blue);
    &--shadow-grey {
      box-shadow: var(--shadow-grey);
    }
  }
  @include bp(md) {
    padding: 0 8rem;
    margin-top: -8.8rem;
  }
  @include bp(lg) {
    margin-top: -10.8rem;
  }

  &--sm {
    @include bp-max(599.98px) {
      width: 19.2rem;
      height: initial;
      border-radius: 1rem 1rem 0 0;
      margin: 1rem auto 0;
    }
  }
  &--bottom {
    @include bp-max(599.98px) {
      width: 33.1rem;
      height: initial;
      border-radius: 1rem 1rem 0 0;
      margin: 0.3rem auto 0;
    }
  }
}

.swiper-slide:has(.function--disabled) {
  display: flex;
  align-self: stretch;
  height: auto;
  @include bp-max(599.98px) {
    display: none;
  }
}

.function--disabled {
  width: 100%;
  padding-top: 0;
  @include bg-picture('slides/disabled-slide.png', 1852);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: var(--color-grey-lighter);
  @include bp(md) {
    padding-top: 0;
  }
  &::before {
    display: none;
  }
  .function__content {
    align-items: center;
    max-width: 61.8rem;
    padding-right: 0;
    padding-left: 0;
    margin: auto;
    text-align: center;
    @include bp(sm) {
      padding: 8rem 4rem;
    }
  }
  .function__title {
    @include bp(md) {
      display: initial;
    }
  }
  .function__text {
    min-height: initial;
  }
}

.function__dis-button {
  max-width: 29.6rem;
  margin-top: 1rem;
}

/* Info block */

.functions-section + .info-block {
  margin-top: 2rem;
  @include bp(md) {
    margin-top: 3.1rem;
  }
}

.info-block {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 3rem 1.9rem 1.9rem;
  border-radius: 2rem;
  @include bp(md) {
    flex-direction: row;
    justify-content: space-between;
    padding: 3.9rem;
  }
  &::after {
    content: '';
    position: absolute;
    z-index: -1;
    inset: -0.1rem;
    width: calc(100% + 0.2rem);
    height: calc(100% + 0.2rem);
    border-radius: 2rem;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='20' ry='20' stroke='%23cececeFF' stroke-width='2' stroke-dasharray='4 4' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 99.98%;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .h2 {
    margin-bottom: 0.4rem;
    @include bp(md) {
      margin-bottom: 0.6rem;
    }
  }
  .docs {
    @include bp(md) {
      padding-bottom: 0.2rem;
    }
  }
  .link--doc {
    width: calc(100% + 1.6rem);
  }
}

.info-block__content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.info-block__logo {
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  aspect-ratio: 333 / 160;
  width: 100%;
  max-width: 36rem;
  border-radius: 2rem;
  margin: 0 auto;
  background-color: var(--color-white);
  span.logo {
    pointer-events: none;
  }
  .logo {
    width: 21.8rem;
    height: 8.7rem;
    margin-top: initial;
    img {
      object-fit: contain;
    }
  }
}

.info-block--solid {
  border: 1px solid var(--color-blue-lighter);
  border-radius: 3rem;
  background-image: none;
  background-color: var(--color-blue-lighter);
  &::after {
    display: none;
  }

  .info-block__wrapper {
    gap: 1.5rem;
    @include bp(md) {
      gap: 1.4rem;
    }
  }
  &:has(.info-block__logo) {
    gap: 4rem;
  }
}

.info-block--bold {
  padding: 2.9rem 1.9rem;
  .info-block__content {
    font-size: 1.8rem;
    line-height: normal;
    font-weight: 400;
  }
}

.info-block__single-button.button--outlined.button--sm {
  --padding: 0.8rem 1.8rem 1rem;
  width: fit-content;
  height: fit-content;
  margin: 0 auto;

  @include bp(md) {
    flex-shrink: 0;
    margin: auto 0;
  }
}

.info-block--about {
  @include bg-picture('layout/about-bg.png', 1174);
  background-repeat: no-repeat;
  @include bp(sm) {
    padding-bottom: 30rem;
    background-position: bottom -14.5rem center;
  }
  @include bp(md) {
    padding-right: 43.8rem;
    background-position: bottom -14.5rem right -13.4rem;
  }
  &::before {
    content: '';
    position: absolute;
    right: 0;
    bottom: -5.6rem;
    left: 0;
    z-index: 1;
    display: block;
    width: 20.2rem;
    height: 17.9rem;
    margin: 0 auto;
    @include bg-picture('layout/about-icon.png', 404);
    background-repeat: no-repeat;
    @include bp(md) {
      right: 10.2rem;
      bottom: -5.6rem;
      left: unset;
      margin: unset;
    }
  }
}

.docs {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  @include bp(md) {
    gap: 0.3rem;
  }
}

.info-note {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  gap: 2rem;
  padding: 3.9rem 4rem;
  border-radius: 1rem;
  background-color: var(--color-blue-lighter);
  @include bp(md) {
    min-width: 34rem;
    max-width: 38rem;
    padding: 3.5rem 4rem;
  }

  .button {
    background-color: transparent;
  }
}

.info-note__text {
  max-width: 38rem;
  line-height: normal;
  font-weight: 500;
  text-align: center;
}

.info-block + .lead-section {
  margin-top: 6rem;
  @include bp(md) {
    margin-top: 10rem;
  }
}

/* Integration table */

.functions-section + .int-table-section {
  margin-top: 8rem;
}

.int-table-section {
  .h1 {
    margin-bottom: 3.6rem;
  }
  .search-form {
    display: flex;
  }
}

.search-form + .int-table-container {
  margin-top: 2.5rem;
}

.int-table-wrapper {
  @include bp(sm) {
    overflow: clip;
  }
}

// body:has(.int-table.is-sticky) .header .container::after {
//   height: calc(100% + 0.1rem);
//   border-bottom: 1px solid var(--color-grey-light);
// }

.int-table {
  --factor: 0;

  width: 100%;
  line-height: normal;
  &.is-sticky th {
    background-color: var(--color-white);
    &::after {
      content: '';
      position: absolute;
      top: 0.1rem;
      left: 0;
      z-index: -1;
      width: 100%;
      height: 100%;
      border-top: 1px solid var(--color-grey-light);
      pointer-events: none;
    }
    &:first-child::after {
      left: -2rem;
      width: calc(100% + 2rem);
      @include bp-min(1360px) {
        left: calc(((100vw - 130rem) / 2) * -1);
        width: calc(100% + (100vw - 130rem) / 2);
      }
    }
    &:last-child::after {
      right: 2rem;
      width: calc(100% + 2rem);
      @include bp-min(1360px) {
        right: calc((100vw - 130rem) / 2);
        width: calc(100% + (100vw - 130rem) / 2);
      }
    }
  }
  th {
    position: sticky;
    top: 6.9rem;
    z-index: 1;
    padding: 1rem 0.5rem;
    font-size: 1.4rem;
    font-weight: 500;
    background-color: var(--color-white);
    // Show only one column
    @include bp-max(599.98px) {
      width: calc(100vw - 2rem - 16rem);
    }
    // Show two columns
    @include bp-min(600px) {
      top: 7.1rem;
      width: calc((100vw - 2rem - 16rem) / 2);
    }
    // Show three columns
    @include bp-min(800px) {
      width: calc((100vw - 2rem - 16rem) / 3);
    }
    @include bp(md) {
      width: initial;
    }
    &:first-child {
      z-index: 2;
      width: 21.5rem;
      padding-left: 0;
      text-align: left;
      color: var(--color-grey);
      @include bp(sm) {
        width: 16rem;
      }
    }
    &:last-child {
      padding-right: 0;
    }
  }
  tbody tr {
    &:hover,
    &:focus-within {
      td {
        border-color: transparent;
        background-color: var(--color-sand-lighter);
        &:first-child {
          border-radius: 0.5rem 0 0 0.5rem;
        }
        &:last-child {
          border-radius: 0 0.5rem 0.5rem 0;
        }
      }
    }
    &:has(+ tr:hover, + tr:focus-within) {
      td {
        border-color: transparent;
      }
    }
  }
  td {
    position: relative;
    padding: 2rem 0 1.5rem;
    font-size: 1.6rem;
    font-weight: 400;
    text-align: center;
    border-bottom: 1px solid var(--color-grey-lighter);
    background-color: var(--color-white);
    transition: background-color var(--transition-medium-cubic);
    &:first-child {
      z-index: 1;
      padding: 2rem 1rem 1.9rem;
      text-align: left;
    }
    .yes,
    .no {
      display: inline-block;
      width: 2rem;
      height: 2rem;
      background-image: url('@svg/icons/check.svg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: 1.6rem;
    }
    .no {
      background-image: url('@svg/icons/dash.svg');
    }
  }

  th:not(:first-child),
  td:not(:first-child) {
    transform: translateX(calc(100% * var(--factor) * -1));
    transition:
      transform var(--transition-medium-cubic),
      background-color var(--transition-medium-cubic);
  }
}

.int-table-section + .lead-section {
  margin-top: 5rem;
  @include bp(lg) {
    margin-top: 10rem;
  }
}

.lead-section + .testimonials-buffer {
  margin-top: 10rem;
  @include bp(lg) {
    margin-top: 16rem;
  }
}

.testimonials-buffer + .try {
  @include bp(sm) {
    margin-top: 2.6rem;
  }
}

.int-table-container {
  @include bp(sm) {
    padding-bottom: 5.8rem;
  }
  &:has(.int-table-pagination.is-visible) {
    padding-bottom: 0;
  }
  &:has(.int-table.is-sticky) {
    .int-table-pagination.pagination {
      margin-top: 1.5rem;
    }
  }
}

.int-table-pagination.pagination {
  position: sticky;
  bottom: 1rem;
  z-index: 1;
  display: none;
  margin-top: 20rem;
  @include bp(sm) {
    &.is-visible {
      display: flex;
    }
  }
  @include bp(md) {
    display: none;
  }
}

.pagination {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  min-width: 10.8rem;
  width: fit-content;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  margin: 0 auto;
  line-height: normal;
  font-weight: 400;
  background-color: var(--color-white);
  color: var(--color-blue);
}

.pagination__prev,
.pagination__next {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.3rem;
  height: 3.3rem;
  border: none;
  background-color: transparent;
  &:hover,
  &:focus-visible {
    color: var(--color-blue-hover);
  }

  .icon {
    font-size: 1.5rem;
  }
}

.pagination__prev .icon {
  position: relative;
  top: 0.1rem;
  transform: rotate(180deg);
}

.pagination__counter {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  span {
    display: inline-block;
    min-width: 1rem;
    text-align: center;
  }
}
