/*! Forms & Dialogs page */

@use '../abstracts' as *;

.forms {
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
}

.form-wrapper {
  flex: 1 0 0;
  min-width: 40rem;
  .form + .button {
    margin-top: 1rem;
  }
}
