//- ** Accordion component

//-?
  +accordion(true)
    +accordion-item('First accordion button text', true)
      p First accordion panel content
    +accordion-item('Second accordion button text')
      p Second accordion panel content
    +accordion-item('Third accordion button text')
      p Third accordion panel content

mixin accordion(multi = false, mobile = false)
  .accordion(class={
    'accordion--multi': multi,
    'accordion--mobile': mobile,
  })&attributes(attributes)
    block

mixin accordion-item(button = '', props = {})
  .accordion-item&attributes(attributes)
    button.accordion-button(aria-expanded=`${props.expanded ? props.expanded : 'false'}`) #[span.button-text !{ button }] #[+icon('plus')]
    .accordion-panel
      .accordion-content
        if (props.support)
          p АТС-коннектор «Простых звонков» разрешает одновременное подключение такого количества CRM пользователей, которое зашифровано в лицензионном ключе.
          p Не все CRM пользователи подключаются к АТС-коннектору. «Простые звонки» можно включить только для части пользователей CRM системы. Например, в 1С к АТС-коннектору подключаются только те пользователи, которым назначена роль «Простые звонки» и задан внутренний номер телефона. В amoCRM к АТС-коннектору поключаются только те пользователи, у которых задан внутренний номер телефона.
        block
