//- ** Set initial dialog's properties

//-? +dialog('application', 'false')
mixin dialog(name, modal = true)
  dialog.dialog-container(data-name=name, data-modal=modal)&attributes(attributes)
    .dialog
      block
      button.dialog__close-button #[+icon('close')]
