//- ** Component for putting custom templates into the main form component

mixin fieldCustom(props)
  if (props.template === 'api-select')
    .select-wrapper
      select.select(required)
        option(value='') Телефония*
        option(value='1', data-link='#!', data-link-text='Как получить API реквизиты МТС Бизнес') МТС Бизнес (API)
        option(value='2', data-link='#!', data-link-text='Как получить API реквизиты Amo CRM') Amo CRM (API)
        option(value='3', data-link='#!', data-link-text='Как получить API реквизиты Asterisk 1.8') Asterisk 1.8 (API)
      a.select-option-link.is-hidden.link.link--inline(href='#!') #[span.link-text &nbsp;] #[+icon('arrow-link')]
  if (props.template === 'db-select')
    .select-wrapper
      select.select(required)
        option(value='') База клиентов*
        option(value='1') Microsoft Excel
        option(value='2') Microsoft Outlook
        option(value='3') Microsoft Access
  if (props.template === 'qty-select')
    .select-wrapper
      select.select(required)
        option(value='') Кол-во пользователей*
        option(value='1') 1
        option(value='2') 2
        option(value='3') 3
        option(value='4') 4
        option(value='5') 5
  if (props.template === 'support-topic')
    .select-wrapper
      select.select
        option(value='') Тема
        option(value='1') Интеграция с ATC
        option(value='2') Интеграция с CRM
        option(value='3') Разрешение проблем
  if (props.template === 'form-agreement')
    p Оставляя свой номер телефона, вы даёте согласие на получение информации по телефону и электронной почте, в том числе новостей, консультаций и рекламы программного обеспечения ООО «Ведисофт».
  if (props.template === 'support-form-agreement')
    p Мы не принимаем обращения в тех.поддержку по телефону. #[br]В первую очередь обрабатываем обращения клиентов платной версии и дилеров. #[br]Обращения клиентов демо-версии обрабатываются во вторую очередь.
