extends ../main.pug

block globals
  - var pageUrl = 'about';
  - var pageTitle = 'О компании';

block content
  h1.h1 Мы — компания «Ведисофт»

  // Content block
  .content-block
    .advantage-label
      +icon('star-ribbon').icon--20
      .f-small Крупнейший интегратор России
    p С 2003 года «Ведисофт» занимается разработкой программного обеспечения для клиентов из России, Израиля, США и Канады. Наша&nbsp;специализация - разработка ПО для производителей телеком оборудования и систем информационной безопасности.
    p С 2008 мы разрабатываем CRM-системы на&nbsp;базе платформы SugarCRM. #[br.sm]Мы помогаем небольшим компаниям в&nbsp;автоматизации работы отделов продаж. В&nbsp;отличие от других CRM-интеграторов, мы не&nbsp;настраиваем коробочные CRM системы, а&nbsp;занимаемся созданием CRM решений «под задачи клиента»: упрощаем пользовательский интерфейс, разрабатываем новые модули, связываем CRM с любыми другими системами.
    p В 2012 мы объединили свои наработки в&nbsp;области интеграции CRM и телефонии в&nbsp;один продукт - «Простые звонки». Кроме SugarCRM мы добавили в&nbsp;него поддержку Excel и 1С. По статистике 90% российских компаний используют эти программы для ведения своей клиентской базы.

  // Team section
  section.team-section.col-section
    .col-section__header
      h2.h2 Познакомьтесь с нашей командой
    .team
      .team-card
        .team-card__img #[+picture('cards/team-1.jpg', 'Member')]
        .team-card__info
          .team-card__name Николай Сюрдо
          .team-card__post Руководитель проекта
      .team-card
        .team-card__img #[+picture('cards/team-2.jpg', 'Member')]
        .team-card__info
          .team-card__name Иван Прохоров
          .team-card__post Технический руководитель
      .team-card
        .team-card__img #[+picture('cards/team-3.jpg', 'Member')]
        .team-card__info
          .team-card__name Никита Первухин
          .team-card__post Разработчик
      .team-card
        .team-card__img #[+picture('cards/team-4.jpg', 'Member')]
        .team-card__info
          .team-card__name Григорий Симонов
          .team-card__post Разработчик
      .team-card
        .team-card__img #[+picture('cards/team-5.jpg', 'Member')]
        .team-card__info
          .team-card__name Дмитрий Стефеев
          .team-card__post Разработчик
      .team-card
        a.team-card__img.team-card__img--link(href='#!') Стать частью #[br.sm]команды #[+icon('arrow-link')]

  // Info block
  .info-block.info-block--solid
    .info-block__wrapper
      h2.h2 «Простые звонки» — наш ответ плохому сервису
      .info-block__content
        p Отвратительное обслуживание стало настолько привычным делом, что мы его уже просто не замечаем. Каждый день мы сталкиваемся с плохим сервисом больших корпораций и мелких фирм. Их&nbsp;мало&nbsp;заботит, станете вы их постоянным клиентом или нет.
        p Но в России есть и другие компании. Они обслуживают своих клиентов по высшему разряду. Такие компании делают ставку на постоянных клиентов. Они абсолютно уверены, что лояльные клиенты - это&nbsp;их&nbsp;главный актив и залог процветания в будущем. Они стараются изо всех сил, чтобы клиент уходил от них довольным и... возвращался к ним снова.
        p Мы любим такие компании. Они меняют нашу жизнь к лучшему. Мы делаем «Простые звонки» для них.
    .info-block__logo
      span.logo
        +imageSVG('logo.svg', 'Site logo')

  // Advantages section
  section.advantages-section.col-section
    .col-section__header
      h2.h2 «Ведисофт» — №1 по&nbsp;количеству внедрений SugarCRM в России
    .advantages
      .advantages__content
        p SugarCRM — самая популярная в мире CRM-система с открытым исходным кодом. Система разработана в&nbsp;США. Она надежна и обладает высокой производительностью. По данным SugarCRM Inc. в мире насчитывается около 1 миллиона пользователей SugarCRM.
        p Мы — №1 в России по количеству внедрений SugarCRM. За время работы над более чем сотней проектов (132 проекта на конец 2012 года) мы разработали 40 новых модулей для SugarCRM. Использование этих наработок позволяет нам:
      .advantages-cards
        .advantages-card
          .advantages-card__icon #[+icon('clock')]
          .advantages-card__title Сократить сроки запуска проекта
          .advantages-card__text В среднем, двух недель достаточно для внедрения под ключ.
        .advantages-card
          .advantages-card__icon #[+icon('palm')]
          .advantages-card__title Снизить конечную стоимость проектов
          .advantages-card__text Нам не надо с нуля писать дополнительные модули, многие ваши задачи уже решены.
        .advantages-card
          .advantages-card__icon #[+icon('prize')]
          .advantages-card__title Гарантировать, что проект останется в рамках бюджета и сроков
