extends ../main.pug

block globals
  - var pageUrl = 'edu-article';
  - var pageTitle = 'Настройка модуля «Простые звонки – amoCRM»';

block content
  //- prettier-ignore
  +breadcrumb([
    { name: 'Главная', link: 'index.html' },
    { name: 'Поддержка', link: '#!' },
    { name: 'База знаний', current: true }
  ])

  h1.h1 Настройка модуля «Простые звонки – amoCRM»

  .aside-wrapper
    .aside-wrapper__content
      // Education article
      article.edu-article.content
        .alert.alert--general
          .alert__content
            p Данная инструкция предназначена для настройки старой версии виджета «Простые звонки» в amoCRM. #[br]Мы рекомендуем использовать #[a.link(href='#!') новую&nbsp;версию виджета #[+icon('arrow-link')]]
            p Мы гарантируем корректную работу «Простых звонков» только в браузере Google Chrome.
        .alert.alert--general.alert--info
          .alert__content
            p Сделка в неразобранном появится только после звершения звонка
        .alert.alert--general.alert--warning
          .alert__content
            p Сделка в неразобранном появится только после звершения звонка
        p Войдите в amoCRM пользователем, с правами администратора.
        p Перейдите на страницу «Настройки» – «Интеграции»:
        +image('content/content-plain-1.jpg', 'Content image')
        p Найдите виджет «Простые звонки» и&nbsp;нажмите&nbsp;«Установить»:
        p #[+image('content/content-plain-2.jpg', 'Content image')]

        h2#toc-section-1(data-number='1') Настройка подключения к&nbsp;серверу «Простые звонки»
        p(data-number='1.1') В открывшемся окне настроек введите адрес АТС-коннектора «Простых звонков» и пароль. Если в настройках АТС-коннектора «Простых звонков» пароль не задан – оставьте это поле пустым.
        +image('content/content-plain-3.jpg', 'Content image')
        p(data-number='1.2') Задайте внутренние (добавочные) телефонные номера сотрудников:
        +image('content/content-plain-4.jpg', 'Content image')
        p(data-number='1.3') При входящем звонке клиента виджет «Простые звонки» ищет номер в базе amoCRM по определенному количеству цифр. Например, клиент звонит с номера «+79001234567», а параметру «Длина телефона» задано значение «10». В&nbsp;этом&nbsp;случае «Простые звонки» найдут клиента по последним 10 цифрам номера. Т.е. в базе amoCRM клиент найдется, если номера телефона задан так «+79001234567» или так «89001234567». Задайте длину телефонного номера:
        +image('content/content-plain-5.jpg', 'Content image')
        p(data-number='1.4') Вы можете включить создание клиентов для входящих звонков с неизвестных номеров:
        +image('content/content-plain-6.jpg', 'Content image')
        p(data-number='1.5') Вы можете включить создание клиентов для исходящих звонков на неизвестные номера:
        +image('content/content-plain-7.jpg', 'Content image')
        p(data-number='1.6') Если вы включили создание клиентов на входящие или исходящие звонки вы можете выбрать, что именно вы хотите создавать: «Сделку в неразобранном», «Контакт» или «Сделку + Контакт»:
        +image('content/content-plain-8.jpg', 'Content image')
        p.bullet «Сделка в неразобранном» - входящие или исходящие звонки с неизвестных номеров будут попадать в колонку «Неразобранное» на странице Сделок
        .alert.alert--row
          .alert__content
            p Сделка в неразобранном появится только после звершения звонка
        p.bullet «Контакт» - если номер телефона не занесен в CRM как Контакт или Компания при входящем или исходящем звонке автоматически будет создан контакт.
        p.bullet «Сделка + Контакт» - если номер телефона не занесен в CRM как Контакт или Компания при входящем или исходящем звонке будет создан контакт и сделка, в указанной воронке,&nbsp;на указанном этапе продаж.
        +image('content/content-plain-9.jpg', 'Content image')
        .alert
          .alert__content
            p Сделка создается только если номер телфона не занесен в CRM как Контакт или Компания.
            p Если выбрана несуществующая воронка или несуществующий этап продажи – Сделка будет создана на первом этапе основной воронки.
        p(data-number='1.7') Если ваша АТС поддерживает определение линии, на которую поступил звонок, и если включена опция «Добавлять номер линии в имена новых контактов», то при создании Неразобранного\Контакта\Сделки + Контакта в его имя будет добавлено название линии, на которую поступил звонок:
        +image('content/content-plain-10.jpg', 'Content image')
        p(data-number='1.8') При необходимости вы можете включить отображение уведомлений о «пропущенных звонках»
        +image('content/content-plain-11.jpg', 'Content image')
        p Если вы хотите видеть расширенную информацию о звонящем клиенте включите эту опцию
        +image('content/content-plain-12.jpg', 'Content image')
        p Включите виджет:
        +image('content/content-plain-13.jpg', 'Content image')
        p Нажмите кнопку «Сохранить»:
        +image('content/content-plain-14.jpg', 'Content image')
        .alert
          .alert__content
            p После сохранения настроек, пожалуйста, перейдите, например, на страницу CRM «Сделки» и&nbsp;обновите страницу (нажмите на клавиатуре F5 или кнопку «Обновить» рядом с адресной строкой браузера).

        h2#toc-section-2(data-number='2') Возможные проблемы и пути их&nbsp;решения
        p#toc-section-2-1(data-number='2.1') Задайте внутренние (добавочные) телефонные номера сотрудников:
        .twin-cards
          .twin-card
            b Причина:
            p Настройки подключения заданы неправильно
          .twin-card
            b Решение:
            p Проверьте, что вы корректно указали все необходимые параметры в настройках интеграции.
        .alert
          .alert__content
            p Все поля в настройках виджета являются обязательными для заполнения, кроме поля «Пароль». Поле «Пароль» может быть пустым только в том случае, когда подключение к АТС-коннектору «Простых звонков», установленному для работы с офисной АТС (Asterisk, Panasonic, Avaya и т.п.), не&nbsp;защищено паролем (пароль настраивается в конфигурационном файле АТС-коннектора).
        p#toc-section-2-2(data-number='2.2') Не совершается звонок из CRM по клику на номер телефона
        .twin-cards
          .twin-card
            b Причина:
            p У пользователя указан внутренний номер отличный от внутреннего номера на используемом им телефоне.
          .twin-card
            b Решение:
            ol
              li Проверьте, что пользователь может совершать/принимать звонки без участия CRM (у него должна быть настроена программа софтфон или установлен аппаратный телефон).
              li Убедитесь, что номер, указанный у пользователя в настройках CRM, соответствует номеру, заданному для софтфона или аппаратного телефона.
              li После совершения звонка из CRM на софтфон или аппаратный телефон поступит входящий звонок, ответьте на него и после этого произойдет набор номера для исходящего звонка.
        p#toc-section-2-3(data-number='2.3') Не отображается уведомление при входящем звонке, не фиксируется история звонков в карточке клиента.
        .twin-cards
          .twin-card
            b Причина:
            p У пользователя нет прав на просмотр и редактирование Контактов и Компаний.
          .twin-card
            b Решение:
            p Проверьте что у пользователя есть права на просмотр и редактирование соответствующих объектов CRM
        p#toc-section-2-4(data-number='2.4') Уведомление о входящем звонке «не всплывает», но если открыть область уведомлений («иконка уведомления»), то&nbsp;уведомление там есть
        .twin-cards
          .twin-card
            b Причина:
            p Неправильные настройки времени или часового пояса на компьютере пользователя.
          .twin-card
            b Решение:
            p Настройки времени в amoCRM и на компьютере пользователя должны совпадать. Настройте синхронизацию времени на компьютере пользователя и проверьте, что в настройках amoCRM указан корректный часовой пояс.
        p#toc-section-2-5(data-number='2.5') Все настроено корректно, но уведомления о входящих звонках не появляются, история звонков не фиксируется
        .twin-cards
          .twin-card
            b Причина:
            p Блокировка скриптов сторонним ПО.
          .twin-card
            b Решение:
            p Проверьте работу интеграции на другом рабочем месте. Если на нем все работает корректно – обратитесь к своему системному администратору.
        .alert
          .alert__content
            p Мы гарантируем работоспособность интеграции только в Chrome, так же на время установки, настройки и тестирования мы рекомендуем отключать фаерволы, антивирусы или брандмауэр, равно как и плагины для Chrome подобные AdBlock.

        h2#toc-section-3(data-number='3') Не нашли решение своей проблемы?
        ol
          li Откройте amoCRM в браузере Google Chrome.
          li Перейдите на страницу «Контакты».
          li Нажмите на клавиатуре кнопку F12. В открывшемся окне перейдите на вкладку «Console».
          li Обновите содержимое страницы, нажав на клавиатуре сочетание клавиш Ctrl + Shift + R (или сделайте правый клик мышкой на кнопке «Обновить страницу», далее выберите пункт «Аппаратная перезагрузка»).
          li Сделайте скриншот окна браузера Google Chrome.
          li Отправьте скриншот окна браузера Google Chrome вложением по email в&nbsp;#[a(href='#!', target='_blank') службу технической поддержки]. В&nbsp;теле письма, пожалуйста, укажите свой пароль (для интеграций с облачными АТС, Android телефонами, софтфонами) или лицензионный ключ (для интеграций с офисными или программными АТС). Подробно&nbsp;опишите проблему, с которой вы столкнулись.
        ul
          li Откройте amoCRM в браузере Google Chrome.
          li Перейдите на страницу «Контакты».
          li Нажмите на клавиатуре кнопку F12. В открывшемся окне перейдите на вкладку «Console».
          li Обновите содержимое страницы, нажав на клавиатуре сочетание клавиш Ctrl + Shift + R (или сделайте правый клик мышкой на кнопке «Обновить страницу», далее выберите пункт «Аппаратная перезагрузка»).
          li Сделайте скриншот окна браузера Google Chrome.
          li Отправьте скриншот окна браузера Google Chrome вложением по email в&nbsp;#[a(href='#!') службу технической поддержки]. В&nbsp;теле письма, пожалуйста, укажите свой пароль (для интеграций с облачными АТС, Android телефонами, софтфонами) или лицензионный ключ (для интеграций с офисными или программными АТС). Подробно&nbsp;опишите проблему, с которой вы столкнулись.

        +accordion(true)
          +accordion-item('Call - начало звонка', {expanded: true, content: true})
            p Отправьте запрос Call, чтобы симулировать начало звонка, либо перевод звонка другому сотруднику. При переводе сохраняются #[strong src_num] - номер звонящего, и #[strong call_id] - уникальный идентификатор звонка.
            pre curl "https://pbxapi.prostiezvonki.ru/XXX123456/?event=1&src_type=1&smart_transfer_is_required=0&call_id=32323&line=3333333&dst_num=101&src_num=89991234567"
            p Параметры запроса:
            table
              thead
                tr
                  th(style='width: 23%') Имя
                  th Описание
              tbody
                tr
                  td #[strong event]
                  td Тип запроса, для запроса Call используйте значение #[strong 1].
                tr
                  td #[strong call_id]
                  td Уникальный идентификатор вызова, строка произвольного формата. Сохраняется неизменным при переводе звонка. #[br]В примере: #[strong 32323].
                tr
                  td #[strong src_num]
                  td Номер источника звонка. Сохраняется при переводе. #[br]В примере: #[strong 89991234567].
                tr
                  td #[strong src_type]
                  td Тип номера источника. Для внешних номеров (городской, сотовый номер) используется значение 1, для внутренних (добавочных) номеров сотрудников используется значение 2. #[br]В примере: #[strong 1] (внешний номер).
                tr
                  td #[strong dst_num]
                  td Номер назначения, на который поступил звонок, может быть пустым при запросе на "умный" перевод. #[br]В примере: #[strong 101].
                tr
                  td #[strong line]
                  td Необязательный параметр. Номер линии (номер, который набрал клиент). #[br]В примере: #[strong 3333333].
                tr
                  td #[strong smart_transfer_is_required]
                  td Необязательный параметр. Задайте значение #[strong 1], и передайте пустой номер назначения (#[strong dst_num]), чтобы проверить функцию "Умный перевод". #[br]В примере: #[strong 0].

          +accordion-item('Answer - ответ на звонок', {content: true})
            p Отправьте запрос Call, чтобы симулировать начало звонка, либо перевод звонка другому сотруднику. При переводе сохраняются #[strong src_num] - номер звонящего, и #[strong call_id] - уникальный идентификатор звонка.
          +accordion-item('Hang-up - завершение звонка', {content: true})
            p Отправьте запрос Call, чтобы симулировать начало звонка, либо перевод звонка другому сотруднику. При переводе сохраняются #[strong src_num] - номер звонящего, и #[strong call_id] - уникальный идентификатор звонка.

    // Table of contents
    aside.aside-wrapper__aside
      .toc
        a.toc-item(data-number='1.', href='#toc-section-1') Настройка подключения к&nbsp;серверу&nbsp;«Простые звонки»
        a.toc-item(data-number='2.', href='#toc-section-2') Возможные проблемы и пути их&nbsp;решения
        a.toc-item(data-number='2.1', href='#toc-section-2-1') Виджет не работает: #[br]нет уведомления при входящем звонке, не совершаются исходящие звонки
        a.toc-item(data-number='2.2', href='#toc-section-2-2') Не совершается звонок из CRM по&nbsp;клику на номер телефона
        a.toc-item(data-number='2.3', href='#toc-section-2-3') Не отображается уведомление при входящем звонке, не фиксируется история звонков в карточке клиента.
        a.toc-item(data-number='2.4', href='#toc-section-2-4') Уведомление о входящем звонке «не всплывает», но если открыть область уведомлений («иконка уведомления»), то уведомление там есть
        a.toc-item(data-number='2.5', href='#toc-section-2-5') Все настроено корректно, но&nbsp;уведомления о входящих звонках не появляются, история звонков не&nbsp;фиксируется
        a.toc-item(data-number='3.', href='#toc-section-3') Не нашли решение своей проблемы?

block embedded-scripts
  script.
    /**
      Wrap content tables into scrollable container
    ============================================= **/

    const contentTables = document.querySelectorAll('.content > table, .accordion-content > table');

    contentTables.forEach((table) => {
      const wrapper = document.createElement('div');
      wrapper.classList.add('table-wrapper', 'custom-scroll');
      table.parentNode.insertBefore(wrapper, table);
      wrapper.appendChild(table);
    });
