extends ../main.pug

block globals
  - var pageUrl = 'index';
  - var pageTitle = 'Главная страница';

block styles
  link(href='vendor/swiper/swiper-bundle.min.css', rel='stylesheet')

block scripts
  script(defer, src='vendor/swiper/swiper-bundle.min.js')

block content
  // Possibilities section
  section.possibilities-section.section
    h2.h1 Возможности сервиса
    +possCards({lazy: true})

  // Integration section
  include @partials/blocks/integration.pug

  // Lead section
  section.lead-section.section
    hgroup.hgroup
      h2.h1 Не увидел свою CRM?
      p.h3-md Скажи нам, мы сделаем. Оставь контакт и&nbsp;давай обсудим.
    form.lead
      label.lead__label
        input.lead__input(type='email', placeholder='Почта', required)
      button.lead__button.button.button--lg Оставить заявку

  // Testimonials section
  include @partials/blocks/testimonials.pug

  //- .h1.test Попробуй все возможности демо

//-   h1.h1 Главная страница
//-   section.graphic-snippets-section
//-     .graphic-snippets-section__item
//-       h2.h2 Responsive picture set
//-       .picture
//-         +picture('starter/klim.jpg', 'Klim')
//-     .graphic-snippets-section__item
//-       h2.h2 SVG responsive picture set
//-       .picture-svg
//-         +pictureSVG('pictures/starter-logo.svg', 'Responsive svg', ['-lg', '-md', ''], ['960', '431', ''])
//-     .graphic-snippets-section__item
//-       h2.h2 CSS background picture set
//-       .css-background-picture
//-     .graphic-snippets-section__item
//-       h2.h2 Plain image
//-       .plain-img
//-         +image('starter/ficus.png', 'Ficus')
//-     .graphic-snippets-section__item
//-       h2.h2 Inline SVG
//-       .inline-svg-wrapper
//-         +imageSVG('inline/starter-zara.svg', 'Zara')
//-   hr.hr

block header-notification
  .header-notifications
    .header-notification
      .header-notification__text До конца 2024 года скидка на первый месяц&nbsp;обслуживания 50%.
      a.link.link--white(href='#!') Подробнее #[+icon('arrow-right').icon--13]

block embedded-scripts
  script.
    const header = document.querySelector('.header');
    const hero = document.querySelector('.hero');

    if (header && hero) {
      setHeaderHeight();
      window.addEventListener('resize', () => {
        setHeaderHeight();
      });
    }

    function setHeaderHeight() {
      header.style.setProperty('--height', header.offsetHeight + 'px');
      hero.style.setProperty('--top-offset', header.offsetHeight + 'px');
    }
