extends ../main.pug

block globals
  - var pageUrl = 'index';
  - var pageTitle = 'Простые звонки';

block styles
  link(href='vendor/swiper/swiper-bundle.min.css', rel='stylesheet')

block scripts
  script(defer, src='vendor/swiper/swiper-bundle.min.js')

block content
  // Possibilities section
  section.possibilities-section.section
    h2.h1 Возможности сервиса
    +possCards({lazy: true})

  // Integration section
  include @partials/blocks/integration.pug

  // Lead section
  section.lead-section
    hgroup.hgroup
      h2.h1 Не увидел свою CRM?
      p.h3-md Скажи нам, мы сделаем. Оставь контакт и&nbsp;давай обсудим.
    form.lead
      label.lead__label
        input.lead__input(type='email', placeholder='Почта', required)
      button.lead__button.button.button--lg Оставить заявку

  // Testimonials section
  include @partials/blocks/testimonials.pug

  // News section
  section.news-section
    h2.h1 Новости
    .news-cards
      article.news-card
        h3.news-card__title #[a(href='#!') Релиз новой версии API]
        p.news-card__text В карточке каждого клиента, с которым общались ваши сотрудники, есть хронология всех звонков.
        time.date.news-card__date(datetime='2024-09-01') 01 сентября 2024
      article.news-card
        h3.news-card__title #[a(href='#!') Релиз функции: Исходящий по клику]
        p.news-card__text Звоните клиентам прямо из CRM. Нажмите на номер клиента в карточке, и Простые Звонки сами его наберут.
        time.date.news-card__date(datetime='2024-07-24') 24 июля 2024
      article.news-card
        h3.news-card__title #[a(href='#!') Добавлены 38 новых пар интеграций]
        p.news-card__text Ссылки на записи разговоров сохраняются в карточке клиента.
        time.date.news-card__date(datetime='2024-07-15') 15 июля 2024
      article.news-card
        h3.news-card__title #[a(href='#!') Релиз функции: Всплывающая карточка]
        p.news-card__text Клиент набрал ваш номер. У менеджера звонит телефон. Карточка клиента уже на экране.
        time.date.news-card__date(datetime='2024-06-17') 17 июня 2024
      a.link.news-cards__all(href='#!') Все новости #[+icon('arrow-link')] 

  // Try block
  section.try
    .h1 Бесплатно
    p.h3.c-blue.ripple-text Попробуй все возможности&nbsp;демо #[span.ripple-text__outer-radius]
    a.try__button.button.button--lg(href='#!') Попробовать #[+icon('arrow-link')] 

//-   h1.h1 Главная страница
//-   section.graphic-snippets-section
//-     .graphic-snippets-section__item
//-       h2.h2 Responsive picture set
//-       .picture
//-         +picture('starter/klim.jpg', 'Klim')
//-     .graphic-snippets-section__item
//-       h2.h2 SVG responsive picture set
//-       .picture-svg
//-         +pictureSVG('pictures/starter-logo.svg', 'Responsive svg', ['-lg', '-md', ''], ['960', '431', ''])
//-     .graphic-snippets-section__item
//-       h2.h2 CSS background picture set
//-       .css-background-picture
//-     .graphic-snippets-section__item
//-       h2.h2 Plain image
//-       .plain-img
//-         +image('starter/ficus.png', 'Ficus')
//-     .graphic-snippets-section__item
//-       h2.h2 Inline SVG
//-       .inline-svg-wrapper
//-         +imageSVG('inline/starter-zara.svg', 'Zara')
//-   hr.hr

block header-notification
  .header-notifications
    .header-notification
      .header-notification__text До конца 2024 года скидка на первый месяц&nbsp;обслуживания 50%.
      a.link.link--white(href='#!') Подробнее #[+icon('arrow-right').icon--13]
