extends ../main.pug

block globals
  - var pageUrl = 'news';
  - var pageTitle = 'Новости';

block content
  h1.h1 Новости

  // News feed
  .news-cards.news-cards--feed
    article.news-card
      h2.news-card__title Интеграция с&nbsp;платформой для создания своей собственной системы управления ПланФикс
      .news-card__text
        p Добавлена интеграция с платформой для создания своей собственной системы управления ПланФикс. Пользователям ПланФикс доступны все функции интеграции с&nbsp;телефонией: журнал звонков со ссылками на аудиозаписи телефонных разговоров, всплывающая карточка клиента при входящем звонке, исходящие звонки по клику, умный перевод. История звонков передаётся в&nbsp;ПланФикс, даже если она не открыта на компьютере сотрудника. Информация о том, какие функции интеграции доступны для различных систем телефонии, доступна в&nbsp;#[a(href='#!') сводной таблице совместимости].
      time.date.news-card__date(datetime='2024-07-24') 24 июля 2024
    article.news-card
      h2.news-card__title Гарантированная запись на Android: рекомендуемые смартфоны
      .news-card__text
        p Друзья, вы часто спрашивали нас, какие смартфоны мы можем рекомендовать для гарантированной работы приложения “Простые Звонки” — как известно, начиная с&nbsp;Android 9, функция записи похожа на лотерею: не знаешь, повезет или нет.
        p К счастью, теперь у нас есть ответ на ваш вопрос: мы протестировали различные модели, находящиеся в продаже летом 2024 года — и выбрали два гаджета: один в бюджетном сегменте, второй помощнее и&nbsp;подороже.
        p Подробности и наша рекомендация — в&nbsp;этой&nbsp;#[a(href='#!') статье].
        p А если вы знаете другие смартфоны, которые работают так же хорошо — расскажите! #[br]С нас признательность и прикольный подарок :)
      time.date.news-card__date(datetime='2024-07-14') 14 июля 2024
    article.news-card
      h3.news-card__title Интеграция с АТС МТС Exolve
      p.news-card__text Доступна для подключения интеграция с МТС Exolve с такими функции, как всплывающая карточка при входящем звонке и исходящий звонок по клику. С некоторыми CRM также доступны журнал звонков и ссылки на аудиозаписи — конкретные варианты смотрите в&nbsp;таблице совместимости.
      time.date.news-card__date(datetime='2024-07-05') 5 июля 2024
    article.news-card
      h3.news-card__title Интеграция с цифровой платформой для застройщиков Домопланер
      p.news-card__text Добавлена интеграция с цифровой платформой для застройщиков Домопланер. Пользователям Домопланер доступны все функции интеграции с телефонией: журнал звонков со ссылками на аудиозаписи телефонных разговоров, всплывающая карточка клиента при входящем звонке, исходящие звонки по клику, умный перевод. История звонков передаётся в Домопланер как при запущенной системе, так и в случае, если она не открыта на компьютере пользователя. Информацию о том, какие функции интеграции доступны для различных систем телефонии, вы найдете в&nbsp;сводной таблице совместимости.
      time.date.news-card__date(datetime='2024-07-01') 1 июля 2024
