extends ../main.pug

block globals
  - var pageUrl = 'partners';
  - var pageTitle = 'Партнёры';

block content
  h1.h1 Партнёры

  .info-block.info-block--bold
    .info-block__content
      p Мы заручились поддержкой надёжных партнёров и собрали для вас много отличных предложений. Уверены, они придадут вашему бизнесу новый импульс. А если вы сами партнёр и&nbsp;хотите предложить нашим клиентам что-то хорошее и&nbsp;удобное, то свяжитесь с нами.
    button.info-block__single-button.button.button--sm.button--outlined Отправить запрос на партнёрство

  .aside-wrapper
    .aside-wrapper__content
      // Partners section
      section#toc-section-1.partners-section.section
        h2.h2 Корпоративная телефония
        .partners
          .partner
            .partner__logo #[+picture('brands/partner-1.jpg', 'Partner', [''])] 
            p.partner__desc Unibell — IT-компания, которая помогает бизнесу автоматизировать работу с клиентами и увеличить конверсию обращений в продажи. Благодаря разработанной платформе, для их клиентов в едином пространстве доступны услуги: более 5 способов авторизации для ваших сайтов, приложений и офлайн точек продаж, голосовой робот для автообзвона базы клиентов и для обработки входящих звонков.
            .partner__feat Месяц обслуживания бесплатно
            a.partner__button.button.button--sm(href='#!') Воспользоваться предложением
          .partner
            .partner__logo #[+picture('brands/partner-2.jpg', 'Partner', [''])]
            p.partner__desc Телефония Нью Тел для бизнеса. Используем внешние каналы, чтобы избежать возможных сбоев, а наше оборудование размещено только в дата-центрах, соответствующих международным стандартам. Нью Тел разработала сервис CallMe - звонок по ссылке, клиенты свяжутся с вами быстро и легко. Разместите ссылку или QR-код на вашем сайте или приложении, и клиенты будут звонить вам из любой точки мира независимо от мобильной сети.
            .partner__feat Месяц обслуживания бесплатно
            a.partner__button.button.button--sm(href='#!') Воспользоваться предложением
          .partner
            .partner__logo #[+picture('brands/partner-3.jpg', 'Partner', [''])]
            p.partner__desc ООО «СВЯЗЬ-ХОЛДИНГ» (бренд «Говорите.ру») — интегратор систем связи. Комплексная телефонизация предприятий, включая организация сети беспроводной связи на базе оборудования SIP-DECT. Большой опыт построения «под ключ» единой телефонии для организаций с территориально распределенной инфраструктурой. Интеграция с большинством CRM-систем, в том числе E-staff и «самописными» CRM. Дополнительные услуги для бизнеса: ЦОД, облачные видеонаблюдение и СКУД собственной разработки.
            .partner__feat Стоимость от 0₽
            a.partner__button.button.button--sm(href='#!') Попробовать
          .partner
            .partner__logo #[+picture('brands/partner-4.jpg', 'Partner', [''])]
            p.partner__desc Softphone.Pro — Софтфон для бизнеса, которым удобно пользоваться долго. Работает со всеми операторами связи, облачными АТС, Asterisk и FreePBX. Подключается к любым CRM системам, клиентским базам и программам. Идеально подходит для колл-центров, отделов продаж, технической поддержки и вообще всех, кто много говорит. Специальный дашборд для руководителей и супервизоров: панели онлайн-мониторинга, учёт рабочего времени операторов, запись звонков и 20+ аналитических отчётов.
            .partner__feat Стоимость от 0₽
            a.partner__button.button.button--sm(href='#!') Подключить

      // Partners section
      section#toc-section-2.partners-section.section
        h2.h2 Внедрение CRM
        .partners
          .partner
            .partner__logo #[+picture('brands/partner-1.jpg', 'Partner', [''])] 
            p.partner__desc Unibell — IT-компания, которая помогает бизнесу автоматизировать работу с клиентами и увеличить конверсию обращений в продажи. Благодаря разработанной платформе, для их клиентов в едином пространстве доступны услуги: более 5 способов авторизации для ваших сайтов, приложений и офлайн точек продаж, голосовой робот для автообзвона базы клиентов и для обработки входящих звонков.
            .partner__feat Месяц обслуживания бесплатно
            a.partner__button.button.button--sm(href='#!') Воспользоваться предложением
          .partner
            .partner__logo #[+picture('brands/partner-2.jpg', 'Partner', [''])]
            p.partner__desc Телефония Нью Тел для бизнеса. Используем внешние каналы, чтобы избежать возможных сбоев, а наше оборудование размещено только в дата-центрах, соответствующих международным стандартам. Нью Тел разработала сервис CallMe - звонок по ссылке, клиенты свяжутся с вами быстро и легко. Разместите ссылку или QR-код на вашем сайте или приложении, и клиенты будут звонить вам из любой точки мира независимо от мобильной сети.
            .partner__feat Месяц обслуживания бесплатно
            a.partner__button.button.button--sm(href='#!') Воспользоваться предложением
          .partner
            .partner__logo #[+picture('brands/partner-3.jpg', 'Partner', [''])]
            p.partner__desc ООО «СВЯЗЬ-ХОЛДИНГ» (бренд «Говорите.ру») — интегратор систем связи. Комплексная телефонизация предприятий, включая организация сети беспроводной связи на базе оборудования SIP-DECT. Большой опыт построения «под ключ» единой телефонии для организаций с территориально распределенной инфраструктурой. Интеграция с большинством CRM-систем, в том числе E-staff и «самописными» CRM. Дополнительные услуги для бизнеса: ЦОД, облачные видеонаблюдение и СКУД собственной разработки.
            .partner__feat Стоимость от 0₽
            a.partner__button.button.button--sm(href='#!') Попробовать
          .partner
            .partner__logo #[+picture('brands/partner-4.jpg', 'Partner', [''])]
            p.partner__desc Softphone.Pro — Софтфон для бизнеса, которым удобно пользоваться долго. Работает со всеми операторами связи, облачными АТС, Asterisk и FreePBX. Подключается к любым CRM системам, клиентским базам и программам. Идеально подходит для колл-центров, отделов продаж, технической поддержки и вообще всех, кто много говорит. Специальный дашборд для руководителей и супервизоров: панели онлайн-мониторинга, учёт рабочего времени операторов, запись звонков и 20+ аналитических отчётов.
            .partner__feat Стоимость от 0₽
            a.partner__button.button.button--sm(href='#!') Подключить

      // Partners section
      section#toc-section-3.partners-section.section
        h2.h2 Установка и настройка АТС
        .partners
          .partner
            .partner__logo #[+picture('brands/partner-1.jpg', 'Partner', [''])] 
            p.partner__desc Unibell — IT-компания, которая помогает бизнесу автоматизировать работу с клиентами и увеличить конверсию обращений в продажи. Благодаря разработанной платформе, для их клиентов в едином пространстве доступны услуги: более 5 способов авторизации для ваших сайтов, приложений и офлайн точек продаж, голосовой робот для автообзвона базы клиентов и для обработки входящих звонков.
            .partner__feat Месяц обслуживания бесплатно
            a.partner__button.button.button--sm(href='#!') Воспользоваться предложением
          .partner
            .partner__logo #[+picture('brands/partner-2.jpg', 'Partner', [''])]
            p.partner__desc Телефония Нью Тел для бизнеса. Используем внешние каналы, чтобы избежать возможных сбоев, а наше оборудование размещено только в дата-центрах, соответствующих международным стандартам. Нью Тел разработала сервис CallMe - звонок по ссылке, клиенты свяжутся с вами быстро и легко. Разместите ссылку или QR-код на вашем сайте или приложении, и клиенты будут звонить вам из любой точки мира независимо от мобильной сети.
            .partner__feat Месяц обслуживания бесплатно
            a.partner__button.button.button--sm(href='#!') Воспользоваться предложением
          .partner
            .partner__logo #[+picture('brands/partner-3.jpg', 'Partner', [''])]
            p.partner__desc ООО «СВЯЗЬ-ХОЛДИНГ» (бренд «Говорите.ру») — интегратор систем связи. Комплексная телефонизация предприятий, включая организация сети беспроводной связи на базе оборудования SIP-DECT. Большой опыт построения «под ключ» единой телефонии для организаций с территориально распределенной инфраструктурой. Интеграция с большинством CRM-систем, в том числе E-staff и «самописными» CRM. Дополнительные услуги для бизнеса: ЦОД, облачные видеонаблюдение и СКУД собственной разработки.
            .partner__feat Стоимость от 0₽
            a.partner__button.button.button--sm(href='#!') Попробовать
          .partner
            .partner__logo #[+picture('brands/partner-4.jpg', 'Partner', [''])]
            p.partner__desc Softphone.Pro — Софтфон для бизнеса, которым удобно пользоваться долго. Работает со всеми операторами связи, облачными АТС, Asterisk и FreePBX. Подключается к любым CRM системам, клиентским базам и программам. Идеально подходит для колл-центров, отделов продаж, технической поддержки и вообще всех, кто много говорит. Специальный дашборд для руководителей и супервизоров: панели онлайн-мониторинга, учёт рабочего времени операторов, запись звонков и 20+ аналитических отчётов.
            .partner__feat Стоимость от 0₽
            a.partner__button.button.button--sm(href='#!') Подключить

      // Partners section
      section#toc-section-4.partners-section.section
        h2.h2 Установка 1С
        .partners
          .partner
            .partner__logo #[+picture('brands/partner-1.jpg', 'Partner', [''])] 
            p.partner__desc Unibell — IT-компания, которая помогает бизнесу автоматизировать работу с клиентами и увеличить конверсию обращений в продажи. Благодаря разработанной платформе, для их клиентов в едином пространстве доступны услуги: более 5 способов авторизации для ваших сайтов, приложений и офлайн точек продаж, голосовой робот для автообзвона базы клиентов и для обработки входящих звонков.
            .partner__feat Месяц обслуживания бесплатно
            a.partner__button.button.button--sm(href='#!') Воспользоваться предложением
          .partner
            .partner__logo #[+picture('brands/partner-2.jpg', 'Partner', [''])]
            p.partner__desc Телефония Нью Тел для бизнеса. Используем внешние каналы, чтобы избежать возможных сбоев, а наше оборудование размещено только в дата-центрах, соответствующих международным стандартам. Нью Тел разработала сервис CallMe - звонок по ссылке, клиенты свяжутся с вами быстро и легко. Разместите ссылку или QR-код на вашем сайте или приложении, и клиенты будут звонить вам из любой точки мира независимо от мобильной сети.
            .partner__feat Месяц обслуживания бесплатно
            a.partner__button.button.button--sm(href='#!') Воспользоваться предложением
          .partner
            .partner__logo #[+picture('brands/partner-3.jpg', 'Partner', [''])]
            p.partner__desc ООО «СВЯЗЬ-ХОЛДИНГ» (бренд «Говорите.ру») — интегратор систем связи. Комплексная телефонизация предприятий, включая организация сети беспроводной связи на базе оборудования SIP-DECT. Большой опыт построения «под ключ» единой телефонии для организаций с территориально распределенной инфраструктурой. Интеграция с большинством CRM-систем, в том числе E-staff и «самописными» CRM. Дополнительные услуги для бизнеса: ЦОД, облачные видеонаблюдение и СКУД собственной разработки.
            .partner__feat Стоимость от 0₽
            a.partner__button.button.button--sm(href='#!') Попробовать
          .partner
            .partner__logo #[+picture('brands/partner-4.jpg', 'Partner', [''])]
            p.partner__desc Softphone.Pro — Софтфон для бизнеса, которым удобно пользоваться долго. Работает со всеми операторами связи, облачными АТС, Asterisk и FreePBX. Подключается к любым CRM системам, клиентским базам и программам. Идеально подходит для колл-центров, отделов продаж, технической поддержки и вообще всех, кто много говорит. Специальный дашборд для руководителей и супервизоров: панели онлайн-мониторинга, учёт рабочего времени операторов, запись звонков и 20+ аналитических отчётов.
            .partner__feat Стоимость от 0₽
            a.partner__button.button.button--sm(href='#!') Подключить

    // Table of contents
    aside.aside-wrapper__aside.aside-wrapper__aside--visible-sm
      .toc.dropdown.dropdown--sm
        button.dropdown-toggler Выберите отрасль #[+icon('arrow-down')]
        .dropdown-container
          .dropdown-list
            a.dropdown-item.toc-item(href='#toc-section-1') Корпоративная телефония
            a.dropdown-item.toc-item(href='#toc-section-2') Внедрение CRM
            a.dropdown-item.toc-item(href='#toc-section-3') Установка и настройка АТС
            a.dropdown-item.toc-item(href='#toc-section-4') Установка 1С
