// Chips
.chips.dropdown.dropdown--sm.dropdown--select
  button.dropdown-toggler.popular-chip #[span.dropdown-toggler__text Популярные] #[+icon('arrow-down')]
  .dropdown-container
    .dropdown-list
      button.dropdown-item.chip.popular-chip Популярные
      button.dropdown-item.chip 1C
      button.dropdown-item.chip CRM системы
      button.dropdown-item.chip Автобизнес
      button.dropdown-item.chip Гостиницы
      button.dropdown-item.chip Доставка еды
      button.dropdown-item.chip Здоровье
      button.dropdown-item.chip Красота
      button.dropdown-item.chip Медицина
      button.dropdown-item.chip Недвижимость
      button.dropdown-item.chip Образование
      button.dropdown-item.chip Розничная торговля
      button.dropdown-item.chip Склад
      button.dropdown-item.chip Техническая поддержка
      button.dropdown-item.chip Туризм
