// functions slider tabs
+swiper.functions-tabs-slider
  .swiper-slide.functions-tab
    span Всплывающая карточка
  .swiper-slide.functions-tab
    span Исходящий по клику
  .swiper-slide.functions-tab
    span Журнал
  .swiper-slide.functions-tab
    span Аудиозаписи
  .swiper-slide.functions-tab
    span Умный перевод
  .swiper-slide.functions-tab
    span Отчёты

// functions slider
+swiper.functions-slider
  .swiper-slide
    article.function.function--1
      .function__content
        h3.h3.function__title Всплывающая карточка
        .function__text Входящие, исходящие, пропущенные, время, география, распределение звонков и многое другое. Наблюдайте онлайн.
  .swiper-slide
    article.function.function--2
      .function__content
        h3.h3.function__title Исходящий по клику
        .function__text Звоните клиентам прямо из CRM. Нажмите на номер клиента в&nbsp;карточке, и Простые Звонки сами его наберут.
  .swiper-slide
    article.function.function--3
      .function__content
        h3.h3.function__title Журнал
        .function__text В карточке каждого клиента, с&nbsp;которым общались ваши сотрудники, есть хронология всех&nbsp;звонков
  .swiper-slide
    article.function.function--4
      .function__content
        h3.h3.function__title Аудиозаписи
        .function__text Ссылки на записи разговоров сохраняются в карточке клиента.
  .swiper-slide
    article.function.function--5
      .function__content
        h3.h3.function__title Умный перевод
        .function__text Клиент сразу попадает на&nbsp;закрепленного за ним менеджера, не слушая музыку и&nbsp;не тратя время на IVR.
  .swiper-slide
    article.function.function--6
      .function__content
        h3.h3.function__title Отчёты
        .function__text Входящие, исходящие, пропущенные, время, география, распределение звонков и многое другое. Наблюдайте онлайн.
