// functions slider tabs
+swiper.functions-tabs-slider
  .swiper-slide.functions-tab.functions-tab--disabled
    span Всплывающая карточка
  .swiper-slide.functions-tab.functions-tab--disabled
    span Исходящий по клику
  .swiper-slide.functions-tab.functions-tab--disabled
    span Журнал
  .swiper-slide.functions-tab.functions-tab--disabled
    span Аудиозаписи
  .swiper-slide.functions-tab.functions-tab--disabled
    span Умный перевод
  .swiper-slide.functions-tab.functions-tab--disabled
    span Отчёты

// functions slider
+swiper.functions-slider
  .swiper-slide
    article.function.function--disabled
      .function__content
        h3.h3.function__title Недоступно в этой паре интеграции
        .function__text Подберите другой вариант пары интеграции вашей CRM c АТС
        button.function__dis-button.button Подобрать
  .swiper-slide
    article.function.function--disabled
      .function__content
        h3.h3.function__title Недоступно в этой паре интеграции
        .function__text Подберите другой вариант пары интеграции вашей CRM c АТС
        button.function__dis-button.button Подобрать
  .swiper-slide
    article.function.function--disabled
      .function__content
        h3.h3.function__title Недоступно в этой паре интеграции
        .function__text Подберите другой вариант пары интеграции вашей CRM c АТС
        button.function__dis-button.button Подобрать
  .swiper-slide
    article.function.function--disabled
      .function__content
        h3.h3.function__title Недоступно в этой паре интеграции
        .function__text Подберите другой вариант пары интеграции вашей CRM c АТС
        button.function__dis-button.button Подобрать
  .swiper-slide
    article.function.function--disabled
      .function__content
        h3.h3.function__title Недоступно в этой паре интеграции
        .function__text Подберите другой вариант пары интеграции вашей CRM c АТС
        button.function__dis-button.button Подобрать
  .swiper-slide
    article.function.function--disabled
      .function__content
        h3.h3.function__title Недоступно в этой паре интеграции
        .function__text Подберите другой вариант пары интеграции вашей CRM c АТС
        button.function__dis-button.button Подобрать
