.integration
  .integration__header
    .integration__title 2500+
    .integration__controls
      .integration__caption.h1 вариантов#[span &nbsp;]
      .integration__caption.h1 интеграции
      .integration__tabs
        button.button.integration__tab.is-active(data-integration='atc') АТС
        button.button.integration__tab(data-integration='crm') CRM
  .integration__panels
    .integration__panel(data-integration='atc')
      .integration__list
        .integration-item
          .integration-item__logo #[+picture('brands/1.jpg', 'Brand')(loading='lazy')]
          .integration-item__name Манго офис
        .integration-item
          .integration-item__logo #[+picture('brands/2.jpg', 'Brand')(loading='lazy')]
          .integration-item__name Jivosite
        .integration-item
          .integration-item__logo #[+picture('brands/3.jpg', 'Brand')(loading='lazy')]
          .integration-item__name Авантелеком
        .integration-item
          .integration-item__logo #[+picture('brands/4.jpg', 'Brand')(loading='lazy')]
          .integration-item__name Гравител
        .integration-item
          .integration-item__logo #[+picture('brands/5.jpg', 'Brand')(loading='lazy')]
          .integration-item__name Ростелеком
        .integration-item
          .integration-item__logo #[+picture('brands/6.jpg', 'Brand')(loading='lazy')]
          .integration-item__name Юздеск
        .integration-item
          .integration-item__logo #[+picture('brands/7.jpg', 'Brand')(loading='lazy')]
          .integration-item__name Jivosite
        .integration-item
          .integration-item__logo #[+picture('brands/8.jpg', 'Brand')(loading='lazy')]
          .integration-item__name Ростелеком
        .integration-item
          .integration-item__logo #[+picture('brands/9.jpg', 'Brand')(loading='lazy')]
          .integration-item__name Телфин
        .integration-item
          .integration-item__logo #[+picture('brands/10.jpg', 'Brand')(loading='lazy')]
          .integration-item__name New-tel
        .integration-item
          .integration-item__logo #[+picture('brands/11.jpg', 'Brand')(loading='lazy')]
          .integration-item__name Билайн бизнес
        .integration-item
          .integration-item__logo #[+picture('brands/12.jpg', 'Brand')(loading='lazy')]
          .integration-item__name Астериск
        .integration-item
          .integration-item__logo #[+picture('brands/13.jpg', 'Brand')(loading='lazy')]
          .integration-item__name f.doc
        .integration-item
          .integration-item__logo #[+picture('brands/14.jpg', 'Brand')(loading='lazy')]
          .integration-item__name Мегафон безнес
        .integration-item
          .integration-item__logo #[+picture('brands/15.jpg', 'Brand')(loading='lazy')]
          .integration-item__name Телфин
        .integration-item
          .integration-item__logo #[+picture('brands/16.jpg', 'Brand')(loading='lazy')]
          .integration-item__name Билайн бизнес
      button.link.link--more.integration__more #[span.button-text Показать ещё] #[+icon('arrow-down')]
