.testimonials-buffer
  .testimonials
    .testimonials__header
      .h1 О нас говорят
      .testimonials__controls.swiper-controls
        .swiper-button-prev #[+icon('arrow-left')]
        .swiper-pagination
        .swiper-button-next #[+icon('arrow-right')]
    +swiper.testimonials-slider
      .swiper-slide
        .testimonial
          .testimonial__text У операторов голоса приятные, речь грамотная. Для моей ситуации решение лучшее, потому что звонков не очень много, но поток есть в течении всего дня. Проконсультровали и помогли подобрать сценарии. Пользуюсь год, очень доволен решением
          .testimonial__logo #[+imageSVG('brands/1.svg', 'Brand')]
          .testimonial__name Интернет-магазин обуви и аксессуаров
      .swiper-slide
        .testimonial
          .testimonial__text Пользуюсь сервисом уже несколько лет. Сам не всегда могу ответить на сотовый и&nbsp;иногда непонятно кто звонил, а перезванивать по неизвпстным номерам не хотелось. Были варианты подключить роботов или автоответчик, но живой человек всё таки лучше в&nbsp;разговоре.
          .testimonial__logo #[+imageSVG('brands/2.svg', 'Brand')]
          .testimonial__name Интернет-магазин мебели
      .swiper-slide
        .testimonial
          .testimonial__text У операторов голоса приятные, речь грамотная. Для моей ситуации решение лучшее, потому что звонков не очень много, но поток есть в течении всего дня. Проконсультровали и помогли подобрать сценарии. Пользуюсь год, очень доволен решением
          .testimonial__logo #[+imageSVG('brands/3.svg', 'Brand')]
          .testimonial__name IT-решения для ресторанов
      .swiper-slide
        .testimonial
          .testimonial__text У операторов голоса приятные, речь грамотная. Для моей ситуации решение лучшее, потому что звонков не очень много, но поток есть в течении всего дня. Проконсультровали и помогли подобрать сценарии. Пользуюсь год, очень доволен решением
          .testimonial__logo #[+imageSVG('brands/4.svg', 'Brand')]
          .testimonial__name Интернет-магазин #2 в Европе
      .swiper-slide
        .testimonial
          .testimonial__text У операторов голоса приятные, речь грамотная. Для моей ситуации решение лучшее, потому что звонков не очень много, но поток есть в течении всего дня. Проконсультровали и помогли подобрать сценарии. Пользуюсь год, очень доволен решением
          .testimonial__logo #[+imageSVG('brands/1.svg', 'Brand')]
          .testimonial__name Интернет-магазин обуви и аксессуаров
      .swiper-slide
        .testimonial
          .testimonial__text Пользуюсь сервисом уже несколько лет. Сам не всегда могу ответить на сотовый и&nbsp;иногда непонятно кто звонил, а перезванивать по неизвпстным номерам не хотелось. Были варианты подключить роботов или автоответчик, но живой человек всё таки лучше в&nbsp;разговоре.
          .testimonial__logo #[+imageSVG('brands/2.svg', 'Brand')]
          .testimonial__name Интернет-магазин мебели
