/* Default theme settings */

:root {
  // Pure Colors
  --color-blue-light: #add1ed;
  --color-blue: #1b75bb;
  --color-blue-hover: #379eef;
  --color-grey-lighter: #f0f0f0;
  --color-grey-light: #cecece;
  --color-grey: #a5a5a5;
  --color-grey-dark: #1e1e1e;
  --color-sand: #efc07e;
  --color-sand-light: #eaeae1;
  --color-black: black;
  --color-white: white;

  // UI Colors
  --html-bg-color: var(--color-white);
  --text-body-color: var(--color-grey-dark);
  --tab-focus-color: var(--color-blue-light);
  --content-link-color: var(--color-grey);
  --content-link-color-hover: var(--color-grey-dark);
  --content-link-color-active: var(--color-grey);

  // UI Effects
  --shadow-dialog: 0 30px 50px 0 rgba(0, 0, 0, 0.75);
  --shadow-menu: 0 5px 15px 0 rgba(0, 0, 0, 0.5);

  // Transitions
  --transition-props-color: color, background-color, border-color, text-decoration-color;
  --transition-func-cubic: cubic-bezier(0.4, 0.8, 0.4, 1);
  --transition-duration-short: 0.1s;
  --transition-duration-medium: 0.2s;
  --transition-duration-long: 0.3s;
  --transition-short-cubic: var(--transition-duration-short) var(--transition-func-cubic);
  --transition-medium-cubic: var(--transition-duration-medium) var(--transition-func-cubic);
  --transition-long-cubic: var(--transition-duration-long) var(--transition-func-cubic);

  // UI Transitions
  --transition-overlay: visibility 0.3s, opacity 0.3s;
}

:root,
::backdrop {
  --color-overlay-bg: rgba(0, 0, 0, 0.5);
}

// Atomic theme classes
.c-blue {
  color: var(--color-blue);
}
